{% extends "layout.html.twig" %}

{% block section_content %}
<section class="global-page-header">
  <div class="container">
    <div class="row">
      {% if success is not null%}
        {% if success %}
          <h3> Поръчката ви е получена</h3>

          <p>Номер на поръчка: <span> {{ details['order_id'] }}</span></p>
          <p>Дата: <span> {{ details['date'] }}</span></p>
          <p>Всичко: <span> {{ details['total'] }}.лв</span></p>
          <p> Метод на плащане:</p>
          <p>  Плащане в брой при получаване по куриер.</p>
          <br>


        {% else %}
        {% endif %}
      {% endif %}

    </div>
  </div>
</section>
{% endblock %}
