{% extends "layout.html.twig" %}

{% block section_content %}

<section class="single-post">
    <div class="container">
        <div class="row">
            <div class="post-img">
                <img class="img-responsive" alt="" src="images/blog/radiestesia.jpg" height="20px" width="1150px">
            </div>
            <br><br>
            <article class="wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms" style="padding:3px">
                <p style="text-align: center;"><span style="font-size: 14pt;"><strong><span style="color: #800000;">КЛУБ "Сириус-Д"</span></strong> е реален клуб, намира се в София.</span></p>
   <p><span style="font-size: 14pt;">В Клуба има <span style="color: #800000;">картотека</span> с истински случаи, има записи на реални хора, споделящи резултатите си от приема на храната "Сириус-Д" и съчетанието й с други методи.</span></p>
   <p><span style="font-size: 14pt;">В Клуба има различни <span style="color: #800000;">модерни диагностични и терапевтични с</span>истеми.</span></p>
   <p><span style="font-size: 14pt;">В Клуба има <span style="color: #800000;">консултации от специалисти</span>, включително и от създателя на храната "Сириус-Д" - проф. Димитров</span></p>
   <p style="text-align: center;"><span style="font-size: 14pt;">Повече информация на тел. 0876-21-21-10</span></p>
   <p>&nbsp;</p>
   <hr>
   <p style="text-align: center;"><strong>Анотация на документиран репортаж по случай с доказано излекуван пациент от МС</strong></p>
   <p>Случаят е с мъж на 34 години с доказана Множествена Склероза от Университетска болница „Св. Ив.Рилски“, Сити-Клиник и други софийски болници.</p>
   <p>Правени изследвания в софийски болници: ВМА, 2 градска, Александровска, Клиника Вижън и други медицински центрове. Множествена Склероза с множество лезии. Цитати от епикризите на Сити Клиник и Св. Ив. Рилски няма да публикуваме в открито интернет пространство поради злоупотребите от комерсиално ориентирани продавачи. При нас случаите се проверяват, изследват, проследяват!</p>
   <p>Младежът е с многобройни и различни по размер хиперинтензивни лезии, дълбоко в почти всички дялове на мозъчното вещество, двустранно фронтално, париентално и темпорално, в ствола на мозъка, мозъчните хемисфери, в суабархноидалните пространства. Наличие на киста. Ретробулбарен неврит, намален визус на ляво око, атрофия на зрителния нерв, синдром Клайн-Фелтър, Централен отоневрологичен синдром. Анамнеза за влошено зрение, размазан поглед, изтръпване на ляво бедро и дясна ръка. Доказан МС, Квадрипирамиден и дискоординационен синдром.</p>
   <p>Провеждана е терапия с кортикостероиди, от която получава увреда на панкреаса и диагноза „Диабет тип 2“. След това му предлагат да се включи в програма за клинично изпитване и анализ на експериментални лекарства на фармацевтична компания от Израел и Америка. Документиран е протокол за съгласието му за участие в изпитанията в България на ново американско лекарство на фармацевтичната израелска компания, както и картата за членство.</p>
   <p>Резултатът от теста на лекарството е силно влошаване, заради което пациентът сам се отказва от експеримента. Спира лекарството по собствено желание, подписва се, че поема последиците от отказа, но тъй като не може да се отпише от изпитателната програма, остава само задължението му да ходи на контролни прегледи, въпреки отказа от прилагане на изпитателното лечение. Започва да търси алтернативи както за лечение на вече съществуващите заболявания и основно МС, така и за справяне с новопоявилите се от експерименталното лечение.</p>
   <p>Изчита форуми с болни от МС, отказва аюрведични и китайски методи на лечения поради негативни резултати при други болни и интуитивно усещане, че не това е неговият път на лечение. Така стига до описание за храната, регистрирана като добавка „Сириус-Д“. Започва да приема в началото само нея в повишени, ударни дози. Още на 20-тия ден започват да намаляват част от многобройните симптоми. Малко по-късно забелязва подобрение в остротата на зрението и цветовото усещане. При преглед офталмолозите установяват значително възстановяване на зрителния нерв. Допълнително много стари симптоми и пристъпи намаляват и отшумяват. Не само вече върви спокойно, но и има значителна издържливост при ходене.</p>
   <p>На втория месец, при същите дози, офталмолозите установяват напълно възстановен зрителен нерв.</p>
   <p>След третия месец, при изследвания в „Св. Ив. Рилски“ по програмата, от която не е можел да се отпише, но не е вземал лекарствата, веднага са изпратили ЯМР в Израел. Лекарите били силно изненадани от резултата: последният ЯМР с контраст доказва: НЯМА НИТО ЕДНА АКТИВНА ЛЕЗИЯ В МОЗЪКА! Зрителните нерви са в перфектно състояние. Субективни усещания: Няма никакво главоболие и световъртеж, не получава никакви кризи, няма изтръпвания, схващания, никакви болестни усещания дори и видимо е здрав с изправена стабилна стойка на тялото.</p>
   <p style="text-align: center;"><em>Репортажът е заснет на 15.08.2015г. в горещ летен ден, като оздравелият Радослав е изчакал 4 часа екипа ни по обяд! Днес, 17.09.2019г., се чухме с Радослав, който отдавна вече не е ничий пациент – нито на конвенционалната, нито на алтернативната медицини, не пие вече и добавката „Сириус-Д, защото се чувства напълно здрав. В това горещо време той е на гроздобер в Италия!</em></p>
   <p style="text-align: center;">Пожелаваме го на всички болни от коварната болест МС!</p>
   <p><em>&nbsp;</em></p>
            </article>

            <article class="wow fadeInDown" data-wow-delay=".5s" data-wow-duration="500ms">
              <div class="blog-post-image">
                <a href="post-fullwidth.html"><img class="img-responsive" src="images/blog/post-2.jpg" alt="" /></a>
              </div>
              <div class="blog-content">
                <h2 class="blogpost-title">
                  <a href="post-fullwidth.html">Истини и заблуди за “Сириус-Д“</a>
                </h2>
                <div class="blog-meta">
                  <span>Dec 11, 2018</span>
                  <span> <a href="">Автор</a></span>
                  <span><a href="contact">инж. Светлана Енчева</a></span>
                </div>
                                    <p><span style="font-family: Arial;">Тук ще споделим някои срещнати от нас и наши клиенти заблуди и неистини за и около “Сириус-Д“.<br /> Споделяме ги в стремежа да бъдем честни, въпреки че можем да засегнем наши и чужди парични и други интереси.</span></p>
                        <p style="margin: 0cm 0cm 0.0001pt;"><span style="color: #dc143c;"><strong><span style="text-decoration: underline;"><span style="font-family: Arial; color: #dd4508;">1. ЦЕНАТА!</span></span></strong></span><span style="font-family: Arial;"><br /> <br /> <strong>Високата цена не е гаранция за високо качество. Ниската цена не е признак, че продуктът е фалшификат.</strong><br /> Доколкото ни е известно, имитиращите продукти (ментета) са били с най-висока цена - за 1 опаковка 80 лв. Има и некачествени продукти с цена 40 лева, която не е от най-ниските.</span></p>
                        <p style="margin: 0cm 0cm 0.0001pt;"><span style="font-family: Arial;">Продавани са и истински "Сириус-Д" също на висока цена - с мотивировката, че по-евтините продукти са ментета.<br /> <br /> </span></p>
                        <p style="margin: 0cm 0cm 0.0001pt;"><span style="font-family: Arial;">Обявите за <strong>промоции</strong> и голям % намаления подсказват, че процентът увеличение на цената, от която правят промоции, също е голям!&nbsp;<br /> <br /> </span></p>
                        <p style="margin: 0cm 0cm 0.0001pt;"><span style="font-family: Arial;">Истина е, че няма препоръчителна и "редовна" цена. Това е една от причините за голямата разлика в цените.<br /> &nbsp; <br /> <strong><span style="text-decoration: underline;"><span style="font-family: Arial; color: #e44411;">2. <span style="text-transform: uppercase;">Разпространението</span>!</span></span></strong><br /> &nbsp; <br /> - Виждали сме табелки на <strong><span style="font-family: Arial;">ГЕНЕРАЛНИ </span></strong>разпространители за цяла Европа.<br /> - Чували сме и обяви на <strong><span style="font-family: Arial;">ЕДИНСТВЕН</span></strong> официален разпространител, както и за <strong><span style="font-family: Arial;">"официалния разпространител"</span></strong> - което пак предполага, че е единствен.<br /> - Има и <strong>ОРИГИНАЛЪТ</strong>, което навежда съзнателно и несъзнателно, че другите НЕ СА оригинали. <br /> <br /> - Масово се обявява "<strong>ОТ ПРОИЗВОДИТЕЛЯ</strong>". Производител има и на ментетата! А и толкова сайтове, които са все от производителя?!? ;)</span></p>
                        <p><span style="font-family: Arial;">Всъщност има <strong>един производител</strong> и <strong>много разпространители</strong>.<br /> Всички купувачи искат да имат гаранция, че купуват оригинал.<br /> Ние имаме договор за разпространение и даваме гаранция, че Ви продаваме&nbsp;"Сириус-Д" във вида, в който ни го е предоставил производителят на оригиналният "Сириус-Д".</span></p>
                        <p style="text-align: justify;"><strong><span style="text-decoration: underline;"><span style="font-family: Arial; color: #ec420e;">3. <span style="text-transform: uppercase;">Дозировката</span>!</span></span></strong></p>
                        <p><span style="font-family: Arial;">При тежки случаи дозите са по-високи. При хронични случаи и профилактично - дозите са умерени. Може да се започне с по-висока доза, но не е задължително. Често се препоръчват високи дози от комерсиални съображения.</span></p>
                        <p><span style="font-family: Arial;">Обикновено се препоръчва тримесечен прием за явен и траен резултат.</span></p>
                        <p><span style="font-family: Arial;">Но! Известни са ни неединични случаи на хора с много добри резултати, получени от кратък прием на общо 3-5 опаковки. Това не означава, че ако след третата опаковка нямате ефект, "Сириус-Д" не Ви действа!</span></p>
                        <p><span style="font-family: Arial;">Проявата на оздравителния ефект зависи от специфичната биохимия на индивида. Познаваме хора, които с 5 опаковки излекуваха болести, които според медицината са средно тежки и продължителни за лечение.</span></p>
                        <p><span style="font-family: Arial;">Познаваме и хора, които го приемаха 3 месеца и твърдяха, че нямат ефект. Но след спирането му установиха, че докато са го приемали, са се чувствали по-добре. Това бяха все сложни случаи с много заболявания. При такива е желателен по-продължителен прием за трайни резултати.</span></p>
                        <p><span style="color: #dc143c;"><strong><span style="text-decoration: underline;"><span style="font-family: Arial; text-transform: uppercase; color: #f45610;">4. Продължителността на прием!</span></span></strong></span><span style="font-family: Arial; text-transform: uppercase;"></span></p>
                        <p><span style="font-family: Arial;">Препоръчва се тримесечен курс на прием за видим оздравителен резултат. Познаваме случаи на явен резултат още първата седмица. Има случаи на липса на резултати и след третия месец. Познаваме и хора които го приемат за профилактика много продължително време.<br /> &nbsp; &nbsp;<br /> По данни на наши клиенти има случаи на трайни оздравителни резултати само с 3 опаковки.</span></p>
                        <p><span style="font-family: Arial;">Следете състоянието си, вслушвайте се в собствения си организъм докога да приемате продукта.</span></p>
                        <p><strong><span style="text-decoration: underline;"><span style="font-family: Arial; text-transform: uppercase; color: #f45610;">5. Панацеята!</span></span></strong><span style="font-family: Arial; text-transform: uppercase;"></span></p>
                        <p><span style="font-family: Arial;">Съставът на "Сириус-Д" е такъв, че действа уникално върху съединителната тъкан. А тъй като тя е голям процент от човешкия организъм, то могат да бъдат повлияни много заболявания едновременно. Но да се твърди, че&nbsp;"Сириус-Д" е панацея и непременно ще излекува много заболявания, е твърде дръзко.<br /> Въпреки, че има данни за чудодейни ефекти. (Вижте статиите.)</span></p>
                        <p><span style="font-family: Arial;">"Сириус-Д"&nbsp;няма да повлияе <span style="text-decoration: underline;">трайно</span> на болести, които постоянно предизвиквате с нездравословен начин на живот.</span></p>
                        <p><span style="font-family: Arial;">Например, питат ни дали&nbsp;"Сириус-Д" лекува висок холестерол? - Може да повлияе резорбцията и детоксикацията, но ако продължавате с приема на тежки мазнини и много въглехидрати, ефектът ще е временен.</span></p>
                        <p><span style="font-family: Arial;">Ще постигнете значителни успехи, ако промените начина си на живот към по-здравословен.</span></p>
                        <p><em><span style="font-family: Arial;">Бъдете причина и условие, а не пасивен мърморко! </span></em><span style="font-family: Arial;">:)))<br /> &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;<br /> <span style="text-decoration: underline;"><strong style="color: #f45610;">6<span style="font-family: Arial; text-transform: uppercase;"><strong>.</strong> Показания и противопоказания</span></strong></span></span></p>
                        <p><span style="font-family: Arial;">По принцип&nbsp;"Сириус-Д" е естествен хранителен продукт и няма противопоказания. Но и с най-полезната храна може да се прекали.<br /> <br /> "Сириус-Д" съдържа концентриран белтък и с него не бива да се прекалява така, както не бива да се прекалява с месото и яйцата. "Сириус-Д" е източник на добре усвоим калций, но и калций трябва да се приема в ограничено количество. <strong><span style="font-family: Arial;">Ограничения в дозата има за всички биологично-активни вещества</span></strong>.</span></p>
                        <p><span style="font-family: Arial;">Известни са ни случаи на стомашно неразположение, предизвикано от приема на "Сириус-Д" заедно с кисело мляко. Оказа се, че киселото мляко дразни стомаха на въпросните хора (вероятно поради повишена стомашна киселинност или от непоносимост към киселото мляко). След преминаване на прием с вода, затруднението беше преодоляно.</span></p>
                        <p><span style="font-family: Arial;">Известни са ни и случаи на стомашно-чревен дискомфорт, предизвикан от вероятно неоригинален "Сириус-Д". Същите хора при прием на оригинален "Сириус-Д" нямаха проблеми.</span></p>
                        <p><span style="font-family: Arial;"><a href="http://gotvach.bg/n5-30473-%D0%9F%D0%BE%D0%BB%D0%B5%D0%B7%D0%BD%D0%B8_%D1%81%D0%B2%D0%BE%D0%B9%D1%81%D1%82%D0%B2%D0%B0_%D0%BD%D0%B0_%D0%BA%D0%B0%D0%BD%D0%B5%D0%BB%D0%B0%D1%82%D0%B0">За действието на канелата</a> - сваля кръвното налягане и кръвната захар.&nbsp; &nbsp; &nbsp;</span></p>
                        <p><span style="text-decoration: underline;"><span style="font-family: Arial;">Ванилията</span></span><span style="font-family: Arial;"> също сваля кръвното налягане и кръвната захар.</span></p>
                        <p><strong><span style="text-decoration: underline;"><span style="font-family: Arial; text-transform: uppercase; color: #f45610;">7. Мистиката!</span></span></strong></p>
                        <p><span style="font-family: Arial;">По думи на купувачи: в мрежата се срещат обяснения за мистичността на "Сириус-Д", за чудодейното му действие, именувано като ''матрицата на живота'',&nbsp; обяснения за "древен код на изцелението", за подпомагащата му роля при възнесението и т. н.</span></p>
                        <p><span style="font-family: Arial;">Да напомним, че&nbsp;"Сириус-Д" се произвежда от животински суровини. Те може да са жизнено важни за нашия организъм в определен период на неговото развитие! Но световната история показва, че всички светци са постигнали светостта (и възнесението си) с пост, скромна раститена храна, чистота на мисли, чувства и действия.</span></p>
                        <p><span style="font-family: Arial;">За съжаление не познаваме храна и продукт, които биха осигурили святост и възнесение. :-)</span></p>
                        <p><strong><span style="text-decoration: underline;"><span style="font-family: Arial; text-transform: uppercase; color: #f45610;">8. Храна или лекарство?</span></span></strong></p>
                        <p><span style="font-family: Arial;">"Сириус-Д"&nbsp;е храна и съдържа само естествени хранителни вещества.<br /> По тази причина <strong><span style="font-family: Arial;">в тесния смисъл на думите</span></strong> в <a href="http://lex.bg/laws/ldoc/2135549536" target="_blank">Закона за лекарствените продукти в хуманната медицина</a> “Сириус-Д“ не е “лекарствен продукт“ и не може да претендира за “лечебен ефект“ .</span></p>
                        <p><span style="font-family: Arial;">Но!<br /> Медицината от хилядолетия успешно лекува с храни, въпреки че нито една от тях не е кръстена “лекарствен продукт“.</span></p>
                        <p><span style="font-family: Arial;">Основателно Хипократ е казал: " Храната да бъде ваше лекарство и лекарството - ваша храна ".</span></p>
                        <p><span style="font-family: Arial;">В този смисъл, “Сириус-Д“ е уникална диетична храна с широк спектър на действие.</span></p>
                        <p><strong><span style="text-decoration: underline;"><span style="font-family: Arial; text-transform: uppercase; color: #f45610;">9. Гаранция за лечение</span></span></strong></p>
                        <p><span style="font-family: Arial;">Досега не сме чули за лекар и производител, които дават <strong><span style="font-family: Arial;">гаранция</span></strong> за лечебно действие на “лечебно средство“. Не могат да я дадат, дори и да искат, а и не им е изгодно. Никой не иска и не очаква гаранция за “лечебно действие“ на храни като месото, млякото и млечните произведения. Затова няма основание да се иска гаранция за лечебно действие и на “Сириус-Д“. Въпреки това, тъй като създателят на&nbsp;"Сириус-Д" - професор Д. Димитров е провел през годините много изпитания на продукта в лабораторни и клинични условия, той е съвършено уверен в действието му и в твърдението си, че при приема му ще има поне някакво подобрение.</span></p>
                        <p><span style="font-family: Arial;">Известни са и са документирани редица успешни здравословни подобрения и в Русия.</span></p>
                        <p>&nbsp;</p>

                 <p>

                 </p>

              </div>
            </article>

        </div>

    </div>
</section>
<!--====  End of Blog Left sidebar  ====-->
<section id="feature">
    <div class="container">
        <div class="section-heading">
            <h1 class="title wow fadeInDown" data-wow-delay=".3s">Информация </h1>
            <p class="wow fadeInDown" data-wow-delay=".5s">
                Полезна информация за Сириус-Д и контакти с  дистрибуторa
            </p>
        </div>
        <div class="row">
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="media wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="300ms">
                    <div class="media-left">
                        <div class="icon">
                            <i class="ion-ios-flask-outline"></i>
                        </div>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Производител </h4>
                        <p>Сириус 2Д ЕООД, Севлиево, България, ул. Стара планина 143</p>
                        <h4>Представителство</h4>
                        <p>гр. София: ул. Кожух планина 10, офис 2</p>
                        <h5>Телефони за контакт</h5>
                        <ul>
                            <li>+359 2 447 2386</li>
                            <li>+359 2 447 2387</li>
                            <li>+359 8844 00001</li>
                            <li>+359 8844 00002</li>
                            <li>Website <span style="color: #e19032">www.siriusd.biz</span></li>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="media wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="300ms">
                    <div class="media-left">
                        <div class="icon">
                            <a href="https://www.facebook.com/SiriusdHolistic/" class="Facebook">
                                <i class="ion-social-facebook"></i>
                            </a>
                        </div>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading"><a href="https://www.facebook.com/SiriusdHolistic/">СИРИУС-Д Фейсбук </h4>
                        <p>Здравно консултативен екип с участието на създателя на храната - проф. Димитров</p>

                </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="900ms">
                    <div class="media-left">
                        <div class="icon">
                            <i class="ion-ios-barcode-outline"></i>
                        </div>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Линии за връзка</h4>
                        <p> <span style="color: #ee793c">Vivacom: &nbsp;</span>  <span>0876-21-21-10</span></p>
                        <p> <span style="color: #644aee">Globul: &nbsp&nbsp&nbsp&nbsp;</span>  <span>0896-097-428</span></p>
                        <p> <span style="color: #2ae110">Mtel: &nbsp &nbsp &nbsp &nbsp&nbsp;</span>  <span>0889-190-839</span> </p>
                        <p>   ДОСТАВКА БЕЗ ПОЧИВЕН ДЕН!   </p>
                        <p><span  style="color: #ee793c"> SKYPE: </span> <span >  sirius-d  </span>   </p>
                        <p><span  style="color: #ee793c"> EMAIL: </span> <span >   sirius7@abv.bg   </span>   </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section> <!-- /#feature -->
{% endblock %}
