{% extends "layout.html.twig" %}

{% block section_content %}
<section class="single-post">
<div class="container">
    <div class="row">
       <div class="col-md-12">
           <div class="post-img">
               <img class="img-responsive" alt="" src="images/blog/radiestesia.jpg" height="20px" width="1150px">
           </div>


        <h4 style="text-align: center; color: #0b2f84;">Към КЛУБОВЕ: "Сириус-Д", "Споделен Опит и Сътрудничество", "Практичното Знание"

        </h4>
        <p style="text-align: center; color: #0b2f84;">работят активно:</p>

        <p> <strong> <small  style="font-size: 9px">инж</small>. Светлана Енчева: </strong> Мениджър Клуб - „Сириус-Д“, Клуб „Здрави заедно“, Клуб „Споделен опит и сътрудничество“ - <small>Холистичен практиционер (Holistic practitioner)</small> </p>

        <p> <strong>инж. Димо Георгиев: </strong> Специалност „Радиотехника“. Дългогодишен научен работник и преподавател по Телевизионна Техника.</p>
        <ul>
            <li style="font-size: 16px">Дългогодишен Рейки мастер с доказани успешно излекувани трудни случаи</li>
            <li style="font-size: 16px">Нутриционист и лектор по правилно хранене, подбор и качество на хранителните добавки. </li>
            <li style="font-size: 16px">Лечебни масажи и Иумейхо терапия </li>
            <li style="font-size: 16px"> Денас-терапия, магнитна и електро- акупунктура.</li>
            <li style="font-size: 16px"> Собствена методика за изчистване и балансиране на енергийната система на човека </li>
        </ul>

        <p> <strong>инж. Димчо Джиговски:  </strong> : Електроника. Рекламно-Издателска Къща „Димакс“.
            Йога инструктор: Интегрална йога, Терапевтична йога. Рейки.
            Председател на Сдружение „Хармоничен Живот“.

        </p>

        <p> <strong>Борис Петров :  </strong> иновации (нововъведения), компютърни технологии.


        </p>
        <p> <strong>Владимир Алексиев: </strong> Личен асистент. Доброволец при трудни случаи


        </p>
        <p> <strong>Живан Азманов :  </strong>
            Масажи по оригинална собствена методика с доказан ефект.
            Биоземеделие. Пчеларство.
        </p>
        <p>… и още „добре дошли“ искрено запалени по многоликите здравни теми.

        </p>

        <h3 style="text-align: center; color: #134e84"> „Лице за контакт“: Светлана Енчева – Официален Дистрибутор и консултант към „Сириус-Д“</h3>
        <p style="text-align: center; padding-bottom: 1px">
            <small>Холистичен практиционер (Holistic practitioner)</small>
            <span style="font-size: 20px;padding-bottom:9px; padding-top: 0px"><br><br>0876-21-21-10</span>
            <span style="font-size: 20px;padding-bottom: 9px"><br>0877-555-319</span>
            <span style="font-size: 20px;"><br>0889-190-839</span>
        </p>

        <h4 style="text-align: center">Мениджър Клуб „Сириус-Д“,"Споделен Опит и Сътрудничество", "Практичното Знание".</h4>
            <br><br>
            <p >Биографията не е толкова определяща – това са само факти и дипломи,
                които не подсказват какъв характер си е изградил човека.
                Училището на Живота учи всеки, без диплом за завършеност, защото се учим цял живот.
                Важно е какво съ-творяваме от цялостното Себе.
            </p>
            <br>
            <p>
                Биографията не е толкова определяща – това са само факти и дипломи,
                които не подсказват какъв характер си е изградил човека.
                Училището на Живота учи всеки, без диплом за завършеност,
                защото се учим цял живот. Важно е какво съ-творяваме от цялостното Себе.
            </p>
             <br>
            <p>
                И все пак, да спазя традицията:
            </p>
            <ol>
                <li> Инж. по „основно“ висше образование.
                    С 3 специалности - електроника и съобщителна техника.
                    Следдипломна квалификация към Икономически Университет
                    "Предпечатна подготовка“.
                    Работила съм по специалностите на държавна работа.
                    А също и в частни издателства
                </li>
                <li>	Второ образование, степен на висше (в НБУ) -
                    Психология на мениджмънта. С трудов стаж по специалността „мениджър“.
                </li>
                <li>
                    	Литературен редактор без диплом, словото е в кръвта ми.
                    Поет и писател, издавана повече в чужбина.
                    Писач на статии за български здравни вестници.
                    Редактирах учебници и трудове на разни доц., доктори и лечители.
                </li>
                <li>
                    	От алтернативните образования
                    те често се придобиват и самостоятелно, без диплом)
                    Повечето са в областта „Холистично здраве“:
                    <ul>
                        <li>
                            	4.1 Интегрални психотехники, НЛП, Пневмокатарзис, Рибъртинг, Ритмотерапия,  Медитативни практики – 2
                            нива към Новосибирски Център по Психоекология, с водещ Виктор Абрамов
                        </li>
                        <li>
                             4.2 Психотехники „Свързано дишане“ и Регресия към Центр Соцветие, Москва, Русия.
                        </li>
                        <li>
                            4.3	Радиестезия, с 2 дипломи за „Приложна радиестезия“ и „Медицинска радиестезия“ – ръководител
                            Георги Атанасов Йосифов, издадени от „Био-Енерго Спектър“, инж. Димитър Ников, проф. Стою Стоев
                        </li>
                        <li>
                            4.4  Удостоверения за обучения по Масажни практики: Класически, Спортен, Релаксиращ, Тонизиращ.
                        </li>
                        <li>
                            4.5	Дистанционно обучение към Руска фирма за електроакупунктура.
                            Дълго самообучение по обширната наука за меридиани, точки за диагностика и въздействие, Акупресура, Су-джок, Рефлексотерапия.
                        </li>
                        <li>
                            4.6 ХОМЕОПАТИЯ – обучение и самообучение по Класическа Хомеопатия, Френска към фирма „Боарон“,
                            Немска към DHU (Deutsche Homeopathy Union). С много практически опит при хора и животни! Самообучение „Бах терапия“.
                        </li>
                        <li>
                            4.7 Сертификат за обучение и право на работа по Биорезонансна диагностика и терапия,
                            Апаратен Комплекс “Neuro-Oberon” към „Центр Инновационных Технологий, Украйна. 5 години работа с Биорезонансни апаратури.
                        </li>
                        <li>
                            4.8 Самообучение по Иридология и работа с апаратури за Ирисдиагностика.
                        </li>
                        <li>
                            4.9 … и още апаратури за диагностика и терапия от рода на „Квантова“, „Биоскенер“, „Vision“ – за някои, от които се разубедих в точността на изследването. Опитно.
                        </li>


                    </ul>
                </li>
                <li>
                    	Школи по Билкотерапия, Хранотерапия, Водолечение и още…
                </li>
                <li>
                    	Рейки нива, Универсална Енергия и други измислени, според мен, практики. Божията Енергия и помощ са във въздуха,
                    който дишаме ежеминутно и лечебната ни сила зависи от свързаността, проводимостта на тази Божия Лечебна Сила, а не от настройки от хора….
                </li>
                <li>
                    	Имам доказана интуиция и като емпат, „познавам“ често диагнози и необходими лечения. Но не винаги!!! Не спекулирам и не се наричам „екстрасенз“, макар повечето хора да са свръхсензитивни. Не вземам пари за тази си способност!
                    Идвам си такава от малка, допълнително тя се изяви, разви поради начина ми на живот, стремящ се към здравословност.
                </li>

            </ol>
            <br>
            <p>
                Тази фактология я споделям заради протокола и необходимостта да запозная клиентите с кого общуват по телефона. За новите. Моите клиенти вече ме познават по изобилните подробни цялостни консултации, след време ставаме и приятели. Работя с дипломирани лекари, които ме признават за колега, тъй като съм учила и продължавам да уча в „Училището на Живота“ вече 50 години. От малка боледувах много, на няколко пъти на границата между Живота и смъртта, с тежки диагнози, операции и инвалидизация. „Я, един жив пациент с такива диагнози!“ – според водещи конвенционални (стандартни) медицински специалисти. Спасявах се сама, с Божия Помощ и така проверявах коя теория е практически приложима, коя при кого как влияе, как се комбинират и допълват стандартните и алтернативни здравни теории и практики. Учих се много от хора като мен – вървящи по тежкия път на самоспасяването. Тях ценя повече от титулованите! Те учат цял живот и то съвестно! Нямаме право на скъсване, неположен изпит, платен изпит! Ценя много Честността и Сърдечността, за която не раздават дипломи. Природното образование и самообразоване е най-важно и определящо човека!
                Затова… с неудобство написах горните факти за специализация в разнообразните раздели на Холистичното (Цялостно) познание за здрав живот.
                Желая на всички Психическо и Физическо Здраве – най-ценното богатство!

            </p>
             <br>




       </div>
    </div>


</div>
</section>



<section >
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h2 class="subtitle wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">Осъществи контакт с нас</h2>
                    <p class="subtitle-des wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".5s">
                       Изпрати ни емайл
                    </p>
                    <div class="contact-form">
                        <form id="contact-form" method="#" action="#" role="form">

                            <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".6s">
                                <input type="text" placeholder="Собствено име" class="form-control" name="name" id="name">
                            </div>

                            <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".8s">
                                <input type="email" placeholder="Емайл" class="form-control" name="email" id="email" >
                            </div>

                            <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1s">
                                <input type="text" placeholder="Предмет" class="form-control" name="subject" id="subject">
                            </div>

                            <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1.2s">
                                <textarea rows="6" placeholder="Съобщение" class="form-control" name="message" id="message"></textarea>
                            </div>

                            <div id="success" class="success">
                                Благодаря, емайла за връзка е на път
                            </div>

                            <div id="error" class="error">
                                Sorry, don't know what happened. Try later :(
                            </div>

                            <div id="submit" class="wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1.4s">
                                <input type="submit" id="contact-submit" class="btn btn-default " value="Изпрати">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-6">
                <div class="map-area">
                    <h2 class="subtitle  wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">Нашия Офис</h2>
                    <p class="subtitle-des wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".5s">
                       София, Западен Парк, Близо до метро станция Вардар

                    </p>
                    <div class="map">

                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2465.5344310699425!2d23.27877802304828!3d42.70306250685211!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40aa9abe9d4be34f%3A0x4c1a785908c69ba!2sZapaden%2C%20Sofia%2C%20Bulgaria!5e0!3m2!1sen!2suk!4v1573499077100!5m2!1sen!2suk" width="450" height="320" frameborder="0" style="border:0;" allowfullscreen=""></iframe>

                    </div>
                </div>
            </div> -->
        </div>

    </div>
</section>



<!--====  End of Blog Left sidebar  ====-->
<section id="feature">
    <div class="container-fluid">
        <div class="section-heading">
            <h1 class="title wow fadeInDown" data-wow-delay=".3s">Информация </h1>
            <p class="wow fadeInDown" data-wow-delay=".5s">
                Полезна информация за Сириус-Д и контакти с дистрибутрa
            </p>
        </div>
        <div class="row">
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="900ms">
                    <div class="media-left">
                        <div class="icon">
                            <i class="ion-ios-barcode-outline"></i>
                        </div>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Линии за връзка</h4>
                        <p> <span style="color: #ee793c">Vivacom: &nbsp;</span>  <span>0877-55-53-19</span></p>
                        <p> <span style="color: #ee793c">Vivacom: &nbsp;</span>  <span>0876-21-21-10</span></p>
                        <p> <span style="color: #644aee">Globul: &nbsp&nbsp&nbsp&nbsp;</span>  <span>0896-097-428</span></p>
                        <p> <span style="color: #2ae110">Mtel: &nbsp &nbsp &nbsp &nbsp&nbsp;</span>  <span>0889-190-839</span> </p>
                        <p>   ДОСТАВКА БЕЗ ПОЧИВЕН ДЕН!   </p>
                        <p><span  style="color: #ee793c"> SKYPE: </span> <span >  sirius-d  </span>   </p>
                        <p><span  style="color: #ee793c"> EMAIL: </span> <span >   sirius7@abv.bg   </span>   </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="media wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="300ms">
                    <div class="media-left">
                        <div class="icon">
                            <a href="https://www.facebook.com/SiriusdHolistic/" class="Facebook">
                                <i class="ion-social-facebook"></i>
                            </a>
                        </div>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading"><a href="https://www.facebook.com/SiriusdHolistic/">СИРИУС-Д Фейсбук </h4>
                        <p>Здравно консултативен екип с участието на създателя на храната - проф. Димитров</p>

                </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="600ms">
                    <div class="media-left">
                        <div class="icon">
                            <i class="ion-ios-lightbulb-outline"></i>
                        </div>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Консултации и поръчки: 0876-21-21-10 - Здравен консултант</h4>
                        <p>Цените са в зависимост от количеството. ОТСТЪПКИ ПОЛУЧАВАТ ВСИЧКИ!</p>
                        <h5>Работно време: от 8.30 до 20 часа без почивен ден </h5>
                        <h5>Доставка до Ваш адрес в цялата страна</h5>
                        <p>Цените са в зависимост от количеството. ОТСТЪПКИ ПОЛУЧАВАТ ВСИЧКИ!</p>

                    </div>
                </div>
            </div>


        </div>
    </div>
</section> <!-- /#feature -->
{% endblock %}
