{% extends "layout.html.twig" %}

{% block section_content %}

==================================================
Slider Section Start
================================================== -->
<section id="hero-area" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="block wow fadeInUp" data-wow-delay=".3s">
                    <!-- Slider -->
                    <section class="cd-intro">
                        <h1 class="wow fadeInUp animated cd-headline slide" data-wow-delay=".4s" >
                            <span class="front-title" style="color: #252584"> Сириус-Д - Естествена храна - Обновява съединителната тъкан	</span><br>
                            <span class="cd-words-wrapper">
                        <b class="is-visible">БЕЗ КОНСЕРВАНТИ</b>
                        <b>БЕЗ ОЦВЕТИТЕЛИ</b>
                        <b>БЕЗ ПОДОБРИТЕЛИ</b>
                                <b>БЕЗ ВЕЩЕСТВА С ВРЕДЕН ЕФЕКТ</b>
                    </span>
                        </h1>
                    </section> <!-- cd-intro -->
                    <!-- /.slider -->
                    <h2 class="wow fadeInUp animated" data-wow-delay=".6s" >
                        Здравно - Kонсултативен екип с мениджър: <span><br> <span style="font-size: 11px;">инж</span  >.<span style="font-size: 23px"> Светлана Енчева </span> <i style="font-style: italic; font-family: 'Adobe Hebrew'">холистчен практиционер</i></span>
                        <span style="text-transform: uppercase"> <br>„Ние не сме само дистрибутори, ние подхождаме цялостно към здравето.
                        <br> Чрез различни диагностични методи изготвяме индивидуални програми.
                        <br> Държим на обратната връзка, истинските случаи, грешките и заблудите. </span>
                        <span style="font-size: 20px;padding-bottom:9px"><br><br>0876-21-21-10</span>
                        <span style="font-size: 20px;padding-bottom: 9px"><br>0877-555-319</span>
                        <span style="font-size: 20px;"><br>0889-190-839</span>
                    </h2>

                    <h2 class="wow fadeInUp animated" data-wow-delay=".6s"  style="text-transform: uppercase;padding-top: 10px" >
                        „SIRIUS-D“ е натурална храна, регистрирана като хранителна добавка. <br> Подпомага терапията при голям брой здравни проблеми.
                         <br> Възстановява след натоварвания, боледуване, травми, хирургически интервенции.
                        <br>Енергизира при спортни и тежки натоварвания.
                        <br>Надеждно профилактично средство, ежедневно приложимо и за дълъг период.
                        <br>Съдържа всички видове аминокиселини и бързоусвоими градивни белтъчини.
                        <br>Подходяща за всички възрасти, бременни, кърмещи и бебета.
                        <br>Без противопоказания и странични ефекти!
                        <br><i>Не замества рационалното хранене!</i>

                    </h2>


                    <!--<a class="btn-lines dark light wow fadeInUp animated smooth-scroll btn btn-default btn-green" data-wow-delay=".9s" href="#works" data-section="#works">Какво трябва да знаете</a>
                </div>-->
            </div>
        </div>
    </div>
</section><!--/#main-slider-->

<!--
==================================================
About Section Start
================================================== -->
<section id="blog-full-width" style="margin: 20px 0px -10px 0px">
    <div class="container">
      <article class="wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms" style="border: 2px solid #cc4400; border-radius: 12px">
        <div class="blog-content">
          <h2 class="blogpost-title">
            <h3  class="text-center" style="color:#6600cc">„Космосът е безкраен спектър от енергии, от които ние долавяме съвсем малко.“</h3>
          </h2>

          <h3 class="text-center" style=" color: #4c0080">
              <span style="color:red">РАДИЕСТЕЗИЯТА</span> е надежден метод за ДИАГНОСТИКА, ПОДБОР, КОРЕКЦИЯ и балансиране на </h3>
           <h3 class="text-center" style=" color: #4c0080">
                  енергийната система на хора, животни и окръжаващата среда.
            </h3>
            <h3 class="text-center" style=" color: #4c0080">
                  Радиестезията е неинвазивен метод за диагностика и лечение. Напълно покрива основния
             </h3>
             <h3 class="text-center" style=" color: #4c0080">
                   медицински постулат: <span style="font-style: italic">„Primum non nocere“ </span> – „Първо да не вредим!“
              </h3>

              <br>
              <h2 class="text-center" style=" color: #4c0080">
                    С помощта на Радиестезията могат:
              </h2>
                <div class="text-center">
                   <a href="radiestesia" class="btn btn-dafault btn-details">Научи Повече</a>
               </div>
             </div>
          </article>
    </div>
     <hr>
    <div class="container">
        <div class="row">
            <div class="col-md-12 " style="margin-bottom: 5px; padding-bottom: 0px; background-color: #f5fffc !important">
                <h2>Болести, могат да се повлияят от “Сириус-Д“,
                    там където са свързани с тъканни изменения</h2>
                <hr />
                <ol style="font-size: 14pt;">
                    <li><span style="font-size: 14pt; font-family: arial,helvetica,sans-serif;">ОПОРНО-ДВИГАТЕЛЕН АПАРАТ: Коксартроза, гонартроза, спондилоартроза, ставно обездвижване. <a href="index.php?option=com_content&amp;view=article&amp;id=27:дискова-херния&amp;catid=8:съдържание&amp;Itemid=101" target="_blank">Дискова херния</a>, <a href="index.php?option=com_content&amp;view=article&amp;id=26:дископатия&amp;catid=8:съдържание&amp;Itemid=101" target="_blank">дископатии</a>, мускулни атрофии, парализи. Спортни и други травми, скъсан менискус и ахилес. Остеопороза и остеохондроза (ошипяване). Всички свързани с липса на <a href="index.php?option=com_content&amp;view=article&amp;id=28:глюкозамин&amp;catid=8:съдържание&amp;Itemid=101" target="_blank">глюкозамин, хондроитин и msm.</a> <br /></span></li>
                    <li><span style="font-size: 14pt; font-family: arial,helvetica,sans-serif;">СЪРДЕЧНО-СЪДОВА СИСТЕМА: Помага на възстановявато след инфаркт и инсулт, и заздравявайки кръвоносните съдове и предпазва от тях. Коронарна и исхемична болест на сърцето. Хипертония. Порок на клапите на сърцето. Декомпенсация на сърдечния мускул. Сърдечна недостатъчност. Аневризъм и стеснение на аортата. Разширени вени, хемороиди. Помага за подобряване циркулацията в капилярите. Помага за възстановяване на кръвоносните съдове в мозъка, помага при склероза. Има данни, че чакащи за сърдечна трансплантация се възстановяват без операция.</span></li>
                    <li><span style="font-size: 14pt; font-family: arial,helvetica,sans-serif;">НЕВРОЛОГИЧНИ ЗАБОЛЯВАНИЯ: Широк спектър на действие. Има случаи на подобрение при МС (Множествена склероза)!</span></li>
                    <li><span style="font-size: 14pt; font-family: arial,helvetica,sans-serif;">ЧЕРНОДРОБНИ БОЛЕСТИ: Цироза, стеатоза, стеноза. Помага за изчистването на чернодробната система. "Сириус-Д" е с такъв състав, че може да стане лесно преминаване към вегетарианско хранене.&nbsp;</span></li>
                    <li><span style="font-size: 14pt; font-family: arial,helvetica,sans-serif;">БЪБРЕЧНИ БОЛЕСТИ: Помощ за възстановяване на бъбречните функции при хора на хемодиализа и чакащи трансплантация. <span style="font-size: 14pt; font-family: arial,helvetica,sans-serif;">Бъбречна недостатъчност. Простатит, аденом, стеснение на пикочния канал.</span> Възстановявайки тъканите на бъбреците, създава условие за разтварянето и изхвърлянето на бъбречни камъни. <br /></span></li>
                    <li><span style="font-size: 14pt; font-family: arial,helvetica,sans-serif;">СТОМАШНО-ЧРЕВНИ ЗАБОЛЯВАНИЯ: Гастрит, колит, гастро-езофагиален рефлукс. Промени в лигавицата на стомаха, тънкото и дебелото черво. Язви, ако не са причинени от вирус. При вирусна (хеликобактер пилори), бактериална и паразитна генеза на стомашните заболявания, трябва да се отстрани първо причинителя и после може да се помага на лечението с храната "Сириус-Д".</span></li>
                    <li><span style="font-size: 14pt; font-family: arial,helvetica,sans-serif;">БЕЛОДРОБНИ ЗАБОЛЯВАНИЯ: Подпомага всякакви дегенеративни заболявания на белите дробове. ХОБС.</span></li>
                    <li><span style="font-size: 14pt; font-family: arial,helvetica,sans-serif;">ОЧНИ БОЛЕСТИ: Диабетна ретинопатия. Дегенерация и отлепване на ретината. Дегенерация на роговицата и макулата. Глаукома. Перде. Потъмняване на роговицата. Помътняване на очната течност, поява на точки и звездички пред очите. Възстановяване след лъчетерапия и химиотерапия. <br /></span></li>
                    <li><span style="font-size: 14pt; font-family: arial,helvetica,sans-serif;">ОБМЕННИ ЗАБОЛЯВАНИЯ: Ограничава последствия от подагра и диабет. Гуша и кисти на щитовидната жлеза.</span></li>
                    <li><span style="font-size: 14pt; font-family: arial,helvetica,sans-serif;">АВТОИМУННИ ЗАБОЛЯВАНИЯ: Множествена склероза, Лупус еритематодес, Синдром на Сьогрен, Хашимото, Ревматоиден полиартрит. Склеродермия. Синдром на Рейно. Съединително-тъканна малостойност, незарастващи рани.</span></li>
                    <li><span style="font-size: 14pt; font-family: arial,helvetica,sans-serif;">КОЖНИ УВРЕДИ: Подпомага възстановяването на съединителната тъкан при всякакви наранявания, белези,&nbsp; стари рани, при декубитални рани.</span></li>
                    <li><span style="font-size: 14pt; font-family: arial,helvetica,sans-serif;">ЖЕНСКИ БОЛЕСТИ: Помага за резорбирането на кисти на гърдите и яйчниците, както и миоми. Възстановява и укрепва съединителната тъкан след аборт и операции.</span></li>
                    <li><span style="font-family: arial,helvetica,sans-serif; font-size: 14pt;">РЕГУЛИРАНЕ НА ТЕГЛОТО - намаляване и увеличаване, според естествените нужди на тялото! Това се постига на база активиране на собствения "лечебен разум" и доставка на необходимите качествени градивни материали за клетката.</span><span style="font-size: 12pt;"></span><span style="font-size: 14pt; font-family: arial,helvetica,sans-serif;"></span><span style="font-family: arial,helvetica,sans-serif; font-size: 14pt;"></span></li>
                </ol>

               <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button" data-toggle="modal" data-target="#exampleModal">Научи повече</p>-->
            </>

        </div>
    </div>
</section>
<hr>
<section id="about" style="padding-top: -10px; margin-top: 0px">
    <div class="container-fluid" style="margin-top: -10px">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                    <h3>
                        “Сириус-Д“ е разрешена от Министерството на здравеопазването и Министерството на земеделието и храните
                    </h3>
                    <p style="font-size: 18px">
                        Производството на “Сириус-Д“ отговаря на законодателството на Република България и Европейския Съюз по Наредба №5 на МЗ и МЗХ / ДВ бр.55 от 07.07.2006г.
                    </p>
                    <p style="font-size: 18px">
                        “Сириус-Д“ съдържа подбрани натурални водоразтворими животински белтъчини,&nbsp; лесно и напълно усвояеми от организма, без остатъчни продукти.
                        За подобряване на действието в състава му са добавени куркума и канела или ванилия.
                    </p>
                    <p style="font-size: 18px" >
                        “Сириус-Д“ съдържа подбрани натурални водоразтворими животински белтъчини,&nbsp; лесно и напълно усвояеми от организма, без остатъчни продукти.
                        За подобряване на действието в състава му са добавени куркума и канела или ванилия
                    </p>

                </div>

            </div>
            <div class="col-md-6 col-sm-6">
                <div class="block wow fadeInRight" data-wow-delay=".3s" data-wow-duration="500ms"  style=" background: rgba(255, 255, 255, 0.30);">
                    <img src="images/siriusdv2.jpg"  class="img-responsive" >
                </div>
            </div>
        </div>
    </div>
</section> <!-- /#about -->


<!--
==================================================
Portfolio Section Start
================================================== -->
<section id="works" class="works">
    <div class="container-fluid">
        <div class="section-heading">
            <h1 class="title wow fadeInDown" data-wow-delay=".3s">Какво трябва да знаете</h1>
            <p class="wow fadeInDown" data-wow-delay=".5s">
                НАТУРАЛНИ ИЗТОЧНИЦИ НА ЗДРАВЕ ®
                ХРАНИТЕЛНИ ДОБАВКИ SIRIUS-D (СИРИУС-Д) ®
            </p>
        </div>
        <div class="row">
            <div class="col-sm-4 col-xs-12">
                <figure class="wow fadeInLeft animated portfolio-item" data-wow-duration="500ms" data-wow-delay="0ms">
                    <div class="img-wrapper">
                        <img src="images/portfolio/kis-ml.png" class="img-responsive" alt="this is a title" >
                        <div class="overlay">
                            <div class="buttons">
                                <a rel="gallery" class="fancybox" href="images/portfolio/kis-ml.png">Виж</a>
                               <!-- <a target="_blank" href="single-portfolio.html">Виж</a>-->
                            </div>
                        </div>
                    </div>
                    <figcaption>
                        <h3>
                            <a href="#">
                                Как да се приемат продуктите SIRIUS-D?
                            </a>
                        </h3>
                        <p style="font-size: 18px">
                            SIRIUS-D се предлагат в прахообразна форма и могат да бъдат
                            приемани с кисело мляко, натурален сок, бульон или друга подходяща
                            за потребителя течност. Желателно е дневната доза да се раздели на два приема
                            – сутрин и вечер, преди хранене. Препоръчителната дневна доза е посочена на етикета на всяка опаковка, но може допълнително да се консултирате с медицинско лице, фармацевт или наш представител за всеки конкретен случай. Изключително важно е да се знае, че по време на прием не следва да се допуска прекъсванe. Това намалява концентрацията
                            в организма и се отразява негативно на търсения положителен резултат от приема.
                            <br><br>
                        </p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-sm-4 col-xs-12">
                <figure class="wow fadeInLeft animated" data-wow-duration="500ms" data-wow-delay="300ms">
                    <div class="img-wrapper">
                        <img src="images/portfolio/time.png" class="img-responsive" alt="this is a title" >
                        <div class="overlay">
                            <div class="buttons">
                                <a rel="gallery" class="fancybox" href="images/portfolio/time.png">Виж</a>
                               <!-- <a target="_blank" href="single-portfolio.html">Виж</a>-->
                            </div>
                        </div>
                    </div>
                    <figcaption>
                        <h3>
                            <a href="#">
                                Колко дълго да се приема SIRIUS-D?
                            </a>
                        </h3>
                        <p style="font-size: 18px">
                            SIRIUS-D са напълно натурални продукти и положителното им въздействие
                            се осъществява чрез продължителна доставка в организма на необходимите му
                            аминокиселини. Затова, за постигане на положителни резултати, препоръчваме
                            прием на SIRIUS-D най-малко три месеца, след което да бъдат направени необходимите изследвания. При констатирани положителни резултати, приемът на Sirius-D следва да продължи в поддържащи режими. В такива случаи, не се колебайте да се свържете с нас. При по-тежки заболявания или здравословни състояния, приемът на SIRIUS-D
                            може да продължи и по-дълго, като се наблюдават положителни промени и към петия – шестия месец на прием.
                            <br><br>

                        </p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-sm-4 col-xs-12">
                <figure class="wow fadeInLeft animated" data-wow-duration="500ms" data-wow-delay="300ms">
                    <div class="img-wrapper">
                        <img src="images/portfolio/limits.png" class="img-responsive" alt="" >
                        <div class="overlay">
                            <div class="buttons">
                                <a rel="gallery" class="fancybox" href="images/portfolio/limits.png">Виж</a>
                             <!--   <a target="_blank" href="single-portfolio.html">Виж</a>-->
                            </div>
                        </div>
                    </div>
                    <figcaption>
                        <h3>
                            <a href="#">
                                Има ли ограничения за прием на SIRIUS-D?
                            </a>
                        </h3>
                        <p style="font-size: 18px">
                            Продуктите не съдържат лактоза и глутеин. Не съдържат ГМО.
                            Не са установени негативни въздействия на продуктите SIRIUS-D върху човешкия организъм.
                            Продуктите SIRIUS-D се комбинират с всички видове медикаменти. За потребители с по-чувствителен стомах или храносмилателна система е препоръчителен продуктът ни SIRIUS-D Light, който е разработен специално за такива случаи.

                            Важно: при установени алергични реакции към някоя от съставките на продуктите SIRIUS-D, задължително се консултирайте с лекар преди прием!
                            <br><br><br><br>
                        </p>
                    </figcaption>
                </figure>
            </div>


        </div>
    </div>
</section> <!-- #works -->
<!--
==================================================
Portfolio Section Start
================================================== -->
<section id="feature">
    <div class="container-fluid">
        <div class="section-heading">
            <h1 class="title wow fadeInDown" data-wow-delay=".3s">Информация </h1>
            <p class="wow fadeInDown" data-wow-delay=".5s">
                Полезна информация за Сириус-Д и контакти с дистрибуторa
            </p>
        </div>
        <div class="row">
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="900ms">
                    <div class="media-left">
                        <div class="icon">
                            <i class="ion-ios-barcode-outline"></i>
                        </div>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Линии за връзка</h4>
                        <p> <span style="color: #ee793c">Vivacom: &nbsp;</span>  <span>0877-55-53-19</span></p>
                        <p> <span style="color: #ee793c">Vivacom: &nbsp;</span>  <span>0876-21-21-10</span></p>
                        <p> <span style="color: #644aee">Globul: &nbsp&nbsp&nbsp&nbsp;</span>  <span>0896-097-428</span></p>
                        <p> <span style="color: #2ae110">Mtel: &nbsp &nbsp &nbsp &nbsp&nbsp;</span>  <span>0889-190-839</span> </p>
                        <p>   ДОСТАВКА БЕЗ ПОЧИВЕН ДЕН!   </p>
                        <p><span  style="color: #ee793c"> SKYPE: </span> <span >  sirius-d  </span>   </p>
                        <p><span  style="color: #ee793c"> EMAIL: </span> <span >   sirius7@abv.bg   </span>   </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="media wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="300ms">
                    <div class="media-left">
                        <div class="icon">
                            <a href="https://www.facebook.com/SiriusdHolistic/" class="Facebook">
                                <i class="ion-social-facebook"></i>
                            </a>
                        </div>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading"><a href="https://www.facebook.com/SiriusdHolistic/">СИРИУС-Д Фейсбук </h4>
                        <p>Здравно консултативен екип с участието на създателя на храната - проф. Димитров</p>

                </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="600ms">
                    <div class="media-left">
                        <a href="https://www.facebook.com/SiriusdHolistic/"><div class="icon">
                            <i class="ion-ios-lightbulb-outline"></i>
                        </div></a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Консултации и поръчки: 0876-21-21-10 - Здравен консултант</h4>
                        <p>Цените са в зависимост от количеството. ОТСТЪПКИ ПОЛУЧАВАТ ВСИЧКИ!</p>
                        <h5>Работно време: от 8.30 до 20 часа без почивен ден </h5>
                        <h5>Доставка до Ваш адрес в цялата страна</h5>
                        <p>Цените са в зависимост от количеството. ОТСТЪПКИ ПОЛУЧАВАТ ВСИЧКИ!</p>

                    </div>
                </div>
            </div>


        </div>
    </div>
</section> <!-- /#feature -->

{% endblock %}
