{% extends "layout.html.twig" %}

{% block section_content %}
==================================================
Header Section Start
================================================== -->
<header id="top-bar" class="navbar-fixed-top animated-header" style="background-color: #0cc1d8;">
    <div class="container-fluid">
        <div class="navbar-header">
            <!-- responsive nav button -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" onclick="lockScroll()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- /responsive nav button -->

            <!-- logo -->
            <div class="navbar-brand">
                <a href="/" >
                    <img src="images/logo2.png" alt="">
                </a>
            </div>
            <!-- /logo -->
        </div>
        <nav class="collapse navbar-collapse navbar-right" role="navigation">
            <!-- <div class="main-menu">-->
            <ul class="nav navbar-nav navbar-right" >
                <li style="color: #4f46a1">
                    <a href="/" class="btn btn-primary hover-item" >НАЧАЛО</a>
                </li>
                <li><a href="about" class="btn btn-primary hover-item">ДЕЙСТВИЕ</a></li>
                <li><a href="siriusclub" class="btn btn-primary hover-item">СИРИУС-Д КЛУБ</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle btn btn-primary hover-item" data-toggle="dropdown">ДИАГНОСТИКА <span class="caret"></span></a>
                    <div class="dropdown-menu">
                        <ul>
                            <li><a href="aura-diagnosis">ЕНЕРГИЙНА с различни апаратури</a></li>
                            <li><a href="bio-diagnosis">БИОРЕЗОНАНСНА НЕЛИНЕЙНА с Апарат "Нейро-Оберон"</a></li>
                            <li><a href="iris-diagnosis">АПАРАТНА ИРИСОВА </a></li>
                            <li><a href="radiestesia">РАДИЕСТЕЗИЧНА по различни методи </a></li>
                            <li><a href="kv-analisator">КВАНТОВ АНАЛИЗАТОР БИОСКЕНЕР</a></li>
                        </ul>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle btn btn-primary hover-item" data-toggle="dropdown">АЛТЕРНАТИВНА МЕДИЦИНА <span class="caret"></span></a>
                    <div class="dropdown-menu">
                        <ul>
                            <li><a href="en-harmony">ЕНЕРГИЙНО ХАРМОНИЗИРАНЕ</a></li>

                        </ul>
                    </div>
                </li>

                <li><a href="doza" class="btn btn-primary hover-item">ДОЗИРАНЕ</a></li>
                <li><a href="ceni"  class="btn btn-primary hover-item">ПОРЪЧКА</a></li>
                <li><a href="otzivi"  class="btn btn-primary hover-item">ОТЗИВИ</a></li>

                <li><a href="contact"  class="btn btn-primary hover-item">ЗА НАС</a></li>
            </ul>
            <!--</div>-->
        </nav>
        <!-- /main nav -->
    </div>
</header>

<section class="single-post">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="post-img">
                    <img class="img-responsive" alt="" src="images/blog/post-1.jpg">
                </div>
                <div class="post-content">
                    <h2>В очите е цялата информация за състоянието на физическото тяло</h2>
                    <p>
                        Ирисовата диагностика е стар метод за диагностика, използван от лекари и лечители, който дава много информация за
                        различни заболявания във физическото тяло. Иридологията е медицинска дисциплина, изучаваща анатомията и физиологията на ириса,
                        структурните, рефлекторните и цветовите адаптационни изменения на ириса при различните заболявания.
                    </p>
                    <h3>Легенда за реакцията в ириса</h3>
                    <blockquote>
                        Един жрец вървял в гората и хванал бухал. При схватката помежду им наранил крака на птицата и забелязал как в окото й се появила една черна черта.
                    </blockquote>
                    <p>
                        Един жрец вървял в гората и хванал бухал. При схватката помежду им наранил крака на птицата и забелязал как в окото й се появила една черна черта.
                        Първите исторически данни за ирисовата диагностика идват от древния Египет. Придворният лекар на фараона жрец Ел Акс се славел като откривател на иридофотографията. Той доближавал до окото на болния метална плочка, химически обработена, задържал я
                        няколко минути и след това получавал образ на самото око. Незнайни са все още химическите вещества, които използвал древният учен, незнаен е и механизмът на работата му, но мълвата за чудесата, които извършвал, наричани тогава "божествена наука", все още е жива.
                        Такива плочки с фотография на ирис са открити в гробницата на Тутанкамон. Естествено, те представят окото на великия фараон. От тях се разбира, че той е бил много болнав и може би за това е починал на 15 години, което пак се разбира от ириса му.
                        От древния Египет "божествената наука" се разпространява от учени, жреци, йоги и лами във Вавилон, Индия, Тибет и Китай.
                        Тайната на жреца Ел Акс е съхранена върху два папироса с дължина по 30 метра и широчина 1,50 м. Съществуването им е документирано в древни писмени източници, но все още оригиналите не са открити. Информация за тяхното съществуване е имало и във Вавилонската библиотека. Затова археолозите продължават търсенията и ако открият папирус, ще бъде една от най-големите сензации в науката.
                    </p>
                    <p>
                        "Божествената наука" в древността се е пазела в тайна. От нея са се възползвали само аристократите, фараоните, посветените.
                        Днес, ако древните източници видят бял свят, тя ще бъде достъпна до повече хора.
                    </p>
                    <p>
                        Основоположник на съвременната ирисова диагностика е унгарецът д-р Игнац фон Пекчели. Той е роден в Будапеща през 1826 г.
                        Като малко момче той се разхождал в градината на имението на баба си, богати аристократи били фон Пекчели. И му се случило подобно нещо като на древния жрец. Игнац видял една сова и като всеки малчуган решил да я хване. И както се случило преди стотици години, счупил крака й при схватката. Момчето забелязало, че веднага след травмата на пернатото, в окото му се появила черна точка. Детето започнало да се грижи за птицата и да я наблюдава. Забелязало, че след като крачето заздравяло, тази черна точка в окото й, изчезнала.
                        След време, дали заради случката от детството, или по семейна традиция, Игнац фон Пекчели завършил традиционна медицина. Като доктор, добил известност и стабилна практика, той разбрал, че съвременните методи не изчерпват всички възможности за диагностициране.
                        Гледал очите, ирисите на болните. Наблюдавал и размишлявал. Не бил запознат с древните източници за "божествената наука". Сам разкрил връзката между ирисовите знаци и вътрешните органи. И първи направил карта на ириса с разположението на органите върху него. Плод на неговия труд е "Ръководство за изучаване диагнозата по очите" през 1881 г. Книгата се посрещнала с ледено мълчание от научните и медицинските среди. Само признателните му болни възхвалявали изключителната му диагностика. Държавата взела мерки, за да спре дейността му с указ. Но тогава се намесила и пресата. За уникалния доктор и начина му на установяване на болестите се чуло в съседните страни. Отричането на работата му в Унгария се превърнало в печеливша реклама.
                        Той станал известен в Европа. До края на живота си (1907г.) д-р Игнац фон Пекчели продължил изследванията и проучванията си върху ириса.
                    </p>

                </div>


            </div>
        </div>

    </div>
</section>
<!--====  End of Blog Left sidebar  ====-->
<section id="feature">
    <div class="container">
        <div class="section-heading">
            <h1 class="title wow fadeInDown" data-wow-delay=".3s">Информация </h1>
            <p class="wow fadeInDown" data-wow-delay=".5s">
                Полезна информация за Сириус-Д и контакти с  дистрибуторa
            </p>
        </div>
        <div class="row">
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="media wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="300ms">
                    <div class="media-left">
                        <div class="icon">
                            <i class="ion-ios-flask-outline"></i>
                        </div>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Производител </h4>
                        <p>Сириус 2Д ЕООД, Севлиево, България, ул. Стара планина 143</p>
                        <h4>Представителство</h4>
                        <p>гр. София: ул. Кожух планина 10, офис 2</p>
                        <h5>Телефони за контакт</h5>
                        <ul>
                            <li>+359 2 447 2386</li>
                            <li>+359 2 447 2387</li>
                            <li>+359 8844 00001</li>
                            <li>+359 8844 00002</li>
                            <li>Website <span style="color: #e19032">www.siriusd.biz</span></li>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="media wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="300ms">
                    <div class="media-left">
                        <div class="icon">
                            <a href="https://www.facebook.com/SiriusdHolistic/" class="Facebook">
                                <i class="ion-social-facebook"></i>
                            </a>
                        </div>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading"><a href="https://www.facebook.com/SiriusdHolistic/">СИРИУС-Д Фейсбук </h4>
                        <p>Здравно консултативен екип с участието на създателя на храната - проф. Димитров</p>

                </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="900ms">
                    <div class="media-left">
                        <div class="icon">
                            <i class="ion-ios-barcode-outline"></i>
                        </div>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Линии за връзка</h4>
                        <p> <span style="color: #ee793c">Vivacom: &nbsp;</span>  <span>0876-21-21-10</span></p>
                        <p> <span style="color: #644aee">Globul: &nbsp&nbsp&nbsp&nbsp;</span>  <span>0896-097-428</span></p>
                        <p> <span style="color: #2ae110">Mtel: &nbsp &nbsp &nbsp &nbsp&nbsp;</span>  <span>0889-190-839</span> </p>
                        <p>   ДОСТАВКА БЕЗ ПОЧИВЕН ДЕН!   </p>
                        <p><span  style="color: #ee793c"> SKYPE: </span> <span >  sirius-d  </span>   </p>
                        <p><span  style="color: #ee793c"> EMAIL: </span> <span >   sirius7@abv.bg   </span>   </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section> <!-- /#feature -->
{% endblock %}
