{% extends "layout.html.twig" %}

{% block section_content %}
<section class="single-post">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="post-img">
                    <img class="img-responsive" alt="" src="images/blog/post-1.jpg">
                </div>
                <div class="post-content">
                    <h2 style="color: #ee9611; text-align: center">Квантов Анализатор</h2>
                    <p style="margin: 0cm 0cm 0.0001pt; text-indent: 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif';">Квантовият анализатор е апаратно доказателство за силата на съвременната Квантова Медицина, която отчита слабите електро-магнитни полета, които излъчват биологичните обекти и които изпълват „празното пространство“ около нас. Квантовият анализатор е създаден да улавя, регистрира и анализира слабото електро-магнитно поле на човека, сравнявайки с еталонни маркери и отчитайки отклоненията в показателите. По този начин той анализира здравословното състояние, констатира основни проблeми и позволява да се дават препоръки за ранна профилактика и лечение. Обширните изследвания, които дава този анализатор без инвазия в човешкия организъм! (взимане на кръв, други проби, вкарване на сонди) е безспорно удобство за изследвания. Икономичен метод за изследване – дава многобройни показатели само с едно изсследване!</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt; text-indent: 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: #0000ff;">Той е ориентировъчен метод и ние не твърдим, че достоверността му е 100%!</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt; text-indent: 14.2pt;">&nbsp;</p>
                    <p style="margin: 0cm 0cm 0.0001pt; text-align: center;" align="center"><strong><span style="text-decoration: underline; color: #ff0000;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif';">ПОКАЗАТЕЛИ, които дава КВАНТОВИЯ АНАЛИЗАТОР:</span></span></strong></p>
                    <p style="margin: 0cm 0cm 0.0001pt;">&nbsp;</p>
                    <p style="margin: 0cm 0cm 0.0001pt;"><strong><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black; text-transform: uppercase;">1. Сърдечно-съдова и мозъчно-съдова системи:</span></strong></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Вискозитет на кръвта</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Чист холестерол</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Масти в кръвта</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Съпротивление в съдовете</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Еластичност на съдовете</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Консумация на кръв от миокарда</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Обем на кръвоснабдяване на миокарда</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Консумацията на кислород от миокарда</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Ударен обем</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Съпротивление на изтласкване в лява камера</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Сила на изпомпване на лява камера</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Еластичност на коронарните артерии</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Кръвно налягане на коронарните артерии</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Еластичност на кръвоносните съдове в мозъка</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Кръвоснабдяване на мозъка</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Показател за памет на мозъчната клетка</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt;"><strong><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">2. СТОМАШНО-ЧРЕВЕН ТРАКТ:</span></strong></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Коефициент за секрецията на пепсин</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Коефициент за дейността на стомашната перисталтика</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Коефициент за дейността на стомашното усвояване</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Коефициент за дейността на перисталтиката на тънките черва</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Коефициент за дейността на поглъщане от тънките черва</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt;"><strong><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">3. ЧЕРЕН ДРОБ:</span></strong></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Метаболизъм на протеина</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Производство на енергия</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Детоксикация</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Жлъчна секреция</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Съдържание на мазнини в черния дроб</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt;"><strong><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">4. <span style="text-transform: uppercase;">Жлъчен мехур:</span></span></strong></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Серум глобулин (A/G)</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Общ билирубин (TBIL)</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Алкална фосфатаза (ALP)</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Серумни жлъчни киселина (РЗП)</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Билирубин (DBIL)</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt;"><strong><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">5<span style="text-transform: uppercase;">. Задстомашна жлеза (Панкреас)</span></span></strong></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Инсулин</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Панкреасни полипептиди (PP)</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Глюкагон</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt;"><strong><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">6. БЪБРЕЧНА ФУНКЦИЯ:</span></strong></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Определяне дейността на лизозим</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Протеин в урината</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Отработен азот</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Пикочна киселина</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Уробилиноген</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt;"><strong><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">7. БЕЛОДРОБНА ФУНКЦИЯ:</span></strong></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Витален капацитет VC</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Общ капацитет на белия дроб ТСХ</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Устойчивост на въздушните пътища RAM</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Артериално съдържание на кислород PaCO2</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt;"><strong><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">8. МОЗЪК:</span></strong></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Кръвоснабдяване на мозъка</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Церебрална артериосклероза</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Функционално състояние на черепните нерви</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Индекс за настроения</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Индекс за памет (ЗС)</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt;"><strong><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">9. КОСТНА СИСТЕМА:</span></strong></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Степен на калцификация на шиините и лумбални прешлени без калцификати</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Херния по лумбалните прешлени не се забелязват</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Степен на прилепване /адхезия/ на мускулите на рамото</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Подвижност на крайниците</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Възраст на сухожилията</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt;"><strong><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">10. <span style="text-transform: uppercase;">Минерална плътност на костите:</span></span></strong></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Коефициент на остеокластите</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Размер на загубата на калций</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Степен на хиперплазия на костите</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Степен на остеопорозата</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Минерална плътност</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt;"><strong><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">11. <span style="text-transform: uppercase;">костни заболявания:</span></span></strong></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Степен на калцификация на шиините прешлени</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Степен на калцификация на лумбалните прешлени</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Коефициент на костна хиперплазия</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Коефициент на остеопороза</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Коефициент на ревматизъм</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt;"><strong><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">12. <span style="text-transform: uppercase;">Кръвна захар:</span></span></strong></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Коефициент на секрецията на инсулин</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Коефициент на кръвната захар</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Коефициент на захар в урината</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt;"><strong><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">13. <span style="text-transform: uppercase;">Основни физически качества:</span></span></strong></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Способност /умение/ за отреагиране (функция на надбъбречната жлеза)</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Психична мощност /енергия/ (мозъчна функция и жизненост)</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Недостиг на вода в организма</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Хипоксия (съдържание на кислород в клетките)</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">PH на кръвта</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt;"><strong><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">14. <span style="text-transform: uppercase;">Токсини в организма:</span></span></strong></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Тежки метали</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Стимулиращи напитки</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Електромагнитни лъчения</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Тютюн / никотин</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Токсични остатъци от пестициди</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt;"><strong><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">15. <span style="text-transform: uppercase;">Витамини и микроелементи:</span></span></strong></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Ca /Калций/</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Fe /Желязо/</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Zn /Цинк/</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Se /Селен/</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Pb /Олово/</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Витамин А</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Витамин C</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Витамин Е</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Витамин К</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Витамин В1</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Витамин B2</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Фолиева киселина</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Витамин B3</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Витамин B6</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Витамин B12</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Витамин D3</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt;"><strong><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">16. <span style="text-transform: uppercase;">мЪЖКА ПОЛОВА СИСТЕМА:</span></span></strong></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Тестостерон</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Гонадотропин</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Еректилна способност</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt;"><strong><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">17. <span style="text-transform: uppercase;">Простата</span>:</span></strong></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Степен на хиперплазия на простатата</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Степен на калцификация на простатата</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Простатит синдром</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt;"><strong><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">18. <span style="text-transform: uppercase;">Гинекология:</span></span></strong></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Женски хормони</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Гонадотропин</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Пролактин</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Прогестерон</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt;"><strong><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">19. <span style="text-transform: uppercase;">Кожа:</span></span></strong></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Индекс нарушения на кожата от свободни радикали</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Индекс колаген на кожата</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Индекс мазнини на кожата /мазна кожа/</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Индекс имунитет на кожата</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Индекс влажност на кожата /суха кожа/</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Загуба на влажност на кожата</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Индекс нарушения на кожата от червени кръвни съдове</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Индекс еластичност на кожата</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Индекс меланин на кожата</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Индекс вроговяване на кожата</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt;"><strong><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black; text-transform: uppercase;">20. Ендокринна система:</span></strong></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Индекс за секрецията на щитовидната жлеза</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Индекс за секрецията на паратироидния хормон</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Индекс на надбъбречните жлези</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Индекс за секрецията на хипофизата</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Индекс за епифизната секреция</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Индекс за секрецията на тимусната жлеза</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Индекс за секрецията на половите жлези</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt;"><strong><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black; text-transform: uppercase;">21.Имунна система:</span></strong></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Индекс за лимфните възли</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Индекс за имунитета на сливиците</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Индекс за костен мозък</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Индекс за далак</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Индекс за тимус</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Индекс имуноглобулин</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Индекс за респираторния имунитет</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Индекс за стомашно-чревния имунитет</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Индекс за имунитета на лигавиците</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt;"><strong><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black; text-transform: uppercase;">23. Витамини:</span></strong></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Витамин A</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Витамин B1</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Витамин B2</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Витамин B3</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Витамин B6</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Витамин B12</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Витамин С</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Витамин Д3</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Витамин Е</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Витамин К</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt;"><strong><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black; text-transform: uppercase;">24.Аминокиселини:</span></strong></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Лизин</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Триптофан</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Фенилаланин</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Метионин</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Треонин</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Изолевцин</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Левцин</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Валин</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Хистидин</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Аргинин</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt;"><strong><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black; text-transform: uppercase;">25. Тежки метали:</span></strong></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Олово</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Кадмий</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Арсен</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Хром</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Живак</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt;"><strong><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black; text-transform: uppercase;">26. Алергени:</span></strong></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Бактериална алергия</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Антибиотици</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Хетероложен серум</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Каини</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Епоксид</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Куинолин</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Микробна инфекция</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Йонизираща радиация</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Калиев дихромат</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Kaba-микстура</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Животински косми</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Боя</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">UV</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Формалдехид</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Ланолин алкохол</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Хлорид</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt;"><strong><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black; text-transform: uppercase;">27. Функции на очите:</span></strong></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Очен показател за хипертрофия на орбикуларния мускул</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Колаген, бръчки около очите</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Пигментация на кожата около очите (показател за тъмни кръгове)</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Лимфатична обструкция (запушване)</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Отпускане по вертикала (ектропион)</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Едем (оток)</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Активност на очните клетки</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Зрителна умора</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt;"><strong><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black; text-transform: uppercase;">28. Затлъстяване:</span></strong></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Функция на глюкозния толеранс</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Липиден метаболизъм</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Функция на кафявата мастна тъкан</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Сънна апнея</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Повишен инсулин</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt;"><strong><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black; text-transform: uppercase;">29. Показатели за костен растеж:</span></strong></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Специфична за костите алкална фосфатаза</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Остеокалцин</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Здравен статус на дългите кости</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Здравен статус на хрущялите на късите кости</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Епифизна линия</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt;"><strong><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black; text-transform: uppercase;">30. Коензими:</span></strong></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Никотинамид</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Биотин</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Пантотенова киселина</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Фолиева киселина</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Коензим Q10</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Глутатион</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt;"><strong><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black; text-transform: uppercase;">31. Сперматозоиди и сперма:</span></strong></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Обем на еякулата</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">pH</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Време на втечняване</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Брой на сперматозоидите</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Скорост на подвижността на сперматозоидите</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt;"><strong><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black; text-transform: uppercase;">32. Менструален цикъл:</span></strong></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Бета хормон (ендорфин)</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Рефлект протеин</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Фибриноген</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Скорост на утаяване</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt;"><strong><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black; text-transform: uppercase;">33. Енергийни Канали и съответствия:</span></strong></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Меридиан ръка – Tай Ин – бял дроб</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Меридиан ръка -Ян-мин -дебело черво</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Меридиан стъпало – Ян-мин – стомах</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Меридиан стъпало – Tай Ин – бял дроб</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Ръка – Шао Ин – сърце – сутра</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Ръка – тънко черво – покрай слънчевия възел</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Пикочен мехур – пълно слънце</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Стъпало – Шао Ин – бъбрек</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Перикард – слънчев възел</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Ръка – Шао Ян – „троен нагревател“</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Стъпало – жлъчен мехур</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Стъпало – Цюе Ин – черен дроб</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Жен май</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Регулаторен меридиан</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Витален (жизнен) меридиан</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Тай май</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt;"><strong><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black; text-transform: uppercase;">34. Пулс на сърцето и мозъка:</span></strong></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Индекс ударен обем (ИУО, SI)</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Минутен обем на сърцето (МОС)</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Общо периферно съпротивление (ОПС, TPR)</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Артериален комплайънс (АК, AC)</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Насищане с O2 на кръвта в мозъчните съдове (Sa)</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Парциално налягане на CO2 в кръвта на мозъчните съдове (PaCO2)</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Парциално налягане на O2 в кръвта на мозъчните съдове (PaO2)</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt;"><strong><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black; text-transform: uppercase;">35. Липиди в кръвта:</span></strong></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Визкозитет на плазмата</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Общ холестерол (TC)</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Триглицериди (TG)</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Липопротеини с висока плътност (HDL-C)</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Липопротеини с ниска плътност (LDL-C)</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Неутрални масти</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Циркулиращи имунни комплекси (ЦИК, CIC)</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt;"><strong><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black; text-transform: uppercase;">36. Колаген:</span></strong></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Очи</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Зъби</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Коса и кожа</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Ендокринна система</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Циркулаторна система</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Храносмилателна система</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Имунна система</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Двигателна система</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Мускули, тъкани</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Мастен метаблизъм</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Детоксикация и метаболизъм</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Репродуктивна система</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Нервна система</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Скелет</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt;"><strong><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">37.<span style="text-transform: uppercase;">Функции на дебелото черво:</span></span></strong></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Перисталтична функция на дебелото черво – коефициент</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Резорбция в колона – коефициент</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Чревни бактерии – коефициент</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Интралуминално налягане – коефициент</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt;"><strong><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black; text-transform: uppercase;">38. Компоненти на човешкото тяло</span></strong><strong><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">:</span></strong></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Анализ на телесните компоненти</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Анализ на мазнините в тялото</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Хранене</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Цялостна оценка</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Контрол на телесната маса</span></p>
                    <p style="margin: 0cm 0cm 0.0001pt 14.2pt;"><span style="font-size: 11pt; font-family: 'Arial','sans-serif'; color: black;">Оценка на телосложението</span></p>

                </div>


            </div>
        </div>

    </div>
</section>
<!--====  End of Blog Left sidebar  ====-->
<section id="feature">
    <div class="container-fluid">
        <div class="section-heading">
            <h1 class="title wow fadeInDown" data-wow-delay=".3s">Информация </h1>
            <p class="wow fadeInDown" data-wow-delay=".5s">
                Полезна информация за Сириус-Д и контакти с дистрибуторa
            </p>
        </div>
        <div class="row">
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="900ms">
                    <div class="media-left">
                        <div class="icon">
                            <i class="ion-ios-barcode-outline"></i>
                        </div>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Линии за връзка</h4>
                        <p> <span style="color: #ee793c">Vivacom: &nbsp;</span>  <span>0877-55-53-19</span></p>
                        <p> <span style="color: #ee793c">Vivacom: &nbsp;</span>  <span>0876-21-21-10</span></p>
                        <p> <span style="color: #644aee">Globul: &nbsp&nbsp&nbsp&nbsp;</span>  <span>0896-097-428</span></p>
                        <p> <span style="color: #2ae110">Mtel: &nbsp &nbsp &nbsp &nbsp&nbsp;</span>  <span>0889-190-839</span> </p>
                        <p>   ДОСТАВКА БЕЗ ПОЧИВЕН ДЕН!   </p>
                        <p><span  style="color: #ee793c"> SKYPE: </span> <span >  sirius-d  </span>   </p>
                        <p><span  style="color: #ee793c"> EMAIL: </span> <span >   sirius7@abv.bg   </span>   </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="media wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="300ms">
                    <div class="media-left">
                        <div class="icon">
                            <a href="https://www.facebook.com/SiriusdHolistic/" class="Facebook">
                                <i class="ion-social-facebook"></i>
                            </a>
                        </div>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading"><a href="https://www.facebook.com/SiriusdHolistic/">СИРИУС-Д Фейсбук </h4>
                        <p>Здравно консултативен екип с участието на създателя на храната - проф. Димитров</p>

                </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="600ms">
                    <div class="media-left">
                        <div class="icon">
                            <i class="ion-ios-lightbulb-outline"></i>
                        </div>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Консултации и поръчки: 0876-21-21-10 - Здравен консултант</h4>
                        <p>Цените са в зависимост от количеството. ОТСТЪПКИ ПОЛУЧАВАТ ВСИЧКИ!</p>
                        <h5>Работно време: от 8.30 до 20 часа без почивен ден </h5>
                        <h5>Доставка до Ваш адрес в цялата страна</h5>
                        <p>Цените са в зависимост от количеството. ОТСТЪПКИ ПОЛУЧАВАТ ВСИЧКИ!</p>

                    </div>
                </div>
            </div>


        </div>
    </div>
</section> <!-- /#feature -->
{% endblock %}
