{% extends "layout.html.twig" %}

{% block section_content %}
<!--
==================================================
    Global Page Section Start
================================================== -->
<section class="global-page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>Отзиви на ползвалите Сириус Д </h2>


        </div>
      </div>
    </div>
  </div>
</section>


<!--=======================================
=            Blog Left sidebar            =
========================================-->

<section id="blog-full-width">
  <div class="container">
    <div class="row">
      <div class="col-md-8">

          <div class="blog-post-image">
            <a href="post-fullwidth.html"><img class="img-responsive" src="images/blog/feedback.png" alt="" /></a>
          </div>
          <div class="blog-content">
            <h2 class="blogpost-title">
              <h3 class="text-center">Отзивите на хора ползвали Сириус Д</h3>
            </h2>
            <p>При всички клиенти (млади и възрастни) първият отчетлив резултат е повишаване на тонуса и общата издръжливост.
                Всичките ни клиенти, с които имаме обратна връзка, не се разболяха от ГРИП (сега има 3 щама!) и ВИРУСНИ инфекции.
            </p>
              <p>Интересното е, че бързината и степента на възстановяване НЕ ЗАВИСЯТ от възрастта, имунитета и продължителността на прием на "Сириус-Д"! Имаме случаи на възрастни хора, които с малки количества получиха съществени подобрения на хронични заболявания, които досега не са били повлиявани от
                  стандартната (конвенционална) терапия. Както и случаи на продължителен прием на храната
                  "Сириус-Д" без очаквания грандиозен ефект, а само малки подобрения на здравето и тонуса.
              </p>
              <p>Имаме случаи на намаляване на количествата на приеманите лекарства при високо кръвно налягане, поради стабилизирането му.
                  Също и няколко случая, при които лекарства за
                  високо кръвно налягане, които не са действали досега,
                  са започнали да действат след прием на храната "Сириус-Д".
                  В последствие се намаляват дозите им или изобщо се спират. </p>
              <p>По форумите често пишат едни и същи лица в различни профили, описват се измислени случаи.
                  Търсещият истинска информация бива често подведен. Такава стратегия увеличава недоверието на хората.</p>
              <p>В противовес ние търсим живия контакт с реални потребители, който ни дава действителни резултати.
                  Ето защо предпочетохме да дадем телефон за консултации и обратна връзка,
                  въпреки бремето да се изслушват проблемите на хората. Затова не направихме форум и блог. </p>
              <p>Слушайки изповедите на хора, преминали през много страдания и опитали какво ли не, се опитваме да помогнем и със съвет за здравето като цяло,
                  защото подходът към здравето трябва да е холистичен (цялостен). За някои случаи можем да пишем, за други не, защото в лечебният им процес има включени и други методи и средства. Човек е цялостен, многомерен и затова подходите към здравето му трябва да са цялостни, многомерни!
              </p>
              <h4 class="text-center">Тук ще споделим успехите на някои наши клиенти:</h4>
              <p>1. Жена на 35г. с <span style="color: #000000;">кисти в гърдите</span>. Изчезнали след 5 опаковки! Изпи още 5 за по-траен ефект. Интересно е, че оплакванията не се подновиха и след 2 години.<br /></span></p>
<p>2. Жена с <span style="color: #ff0000;">мултиплена склероза (МС)</span> с парализа на долни крайници. Вече усеща топлина и мравучкане в краката си. Поради залежаване жената страдала от запек. С употребата на храната "Сириус-Д" <span style="color: #ff0000;">запекът </span>изчезнал.<br /></p>
<p>3. Мъж с <span style="color: #ff0000;">дискова херния на шийни прешлени със сериозен вертижен синдром</span>. Пи един месец "Сириус-Д" за да се подготви за операция. Значително се подобри и отмени операцията.&nbsp; </span></p>
<p>4. Мъж с <span style="color: #ff0000;">дискова херния на поясни прешлени и спондилолистеза</span> / приплъзнати прешлени /. Отмени операцията и вече години след диагнозата е без каквито и да било болкови оплаквания.</span></p>
<p>5. Възрастна жена с усложнения след операция, <span style="color: #ff0000;">запушване на съдове на крайници, тромбофлебит</span>. Комбинирано лечение с други алтернативни терапии и ''Сириус-Д''. По думите на жената и близките и п<span style="font-size: 14pt;">одобрението на проходимостта на съдовете се дължи на "Сириус-Д"</span></span></p>
<p><span style="font-size: 14pt;">6. Жена на 60 г. с <span style="color: #ff0000;">дископатия</span>. Болките и преминаха, движението и се успокои само от 5 опаковки.</span></span></p>
<p><span style="font-size: 14pt;">7. Възрастна жена с множество <span style="color: #ff0000;">дегенеративни ставни заболявания</span>. Придвижваше се трудно с бастун. Хвърли бастуна, <span style="color: #008000;">нормализира теглото</span>. Видимо <span style="color: #008000;">подмладена и жизнена</span>. </span></span></p>
<p><span style="font-size: 14pt;">8. Възрастен мъж със <span style="color: #ff0000;">счупване в областта на ходилото</span>. Отказа гипсиране и патерици, вече пиеше "Сириус-Д" по друг повод. Оправи се завидно бързо и безболезнено.<br /></span></span></p>
<p><span style="font-size: 14pt;">9. Мъж на възраст с трудности с <span style="color: #ff0000;">простатата</span>. Твърди, че се е възстановил само с храната "Сириус-Д". Съобщава за силно подобрена потентност, както и за общо стабилизиране на здравето, повишен тонус и издържливост.<br /></span></span></p>
<p><span style="font-size: 14pt;">10. Жена над 70 години, с много проблеми с <span style="color: #ff0000;">костно-ставния апарат, обща скованост</span>. Още в първата седмица на приема се чувства по-жизнена, съобщава, че й е по-леко при движение, а близките й утвърждават, че се движи по-свободно. С продължаване на приема много от болките и отзвучават. Тя иска съвсем да не я боли;) Близките и специално ни попитаха дали на Сириус-Д се дължи изчезването на сини петна по кожата на краката - разширени кръвоносни съдове, <span style="color: #ff0000;">варикозни вени, варици</span>. &nbsp; <br /></span></span></p>
<p><span style="font-size: 14pt;">11. Няколко случая с <span style="color: #ff0000;">очни проблеми, макулна дегенерация и глаукома</span>. Съобщават за подобряване на зрението. Все още са в началото на приема.<br /></span></span></p>
<p><span style="font-size: 14pt;">12. 50 годишен мъж с <span style="color: #ff0000;">гонартроза</span> с болки и ограничени движения. След 5 опаковки болките намаляват и движението се подобрява.<br /></span></span></p>
<p><span style="font-size: 14pt;">13. Жена с <span style="color: #ff0000;">гонартроза</span> с денонощна сковаваща болка в коляното след 10 опаковки казва че болката отшумява.</span></span></p>
<p><span style="font-size: 14pt;">14. Млад мъж, с повредени тазобедрени стави от кортикостероиди, с нарочени операции, ги отмени и получи ЗНАЧИТЕЛНО подобрение.</span></span></p>
<p><span style="font-size: 14pt;">15. Мъж с болест на Крон вече не пие лекарства против <span style="color: #ff0000;">високо кръвно налягане</span>, след като изпи 1 опаковка Сириус-Д и продължава с него.</span></span></p>
<p><span style="font-size: 14pt;">16. Момче с <span style="color: #ff0000;">детска церебрална парализа</span> след 3 месечен прием значително подобрил ходенето си, говора си и пристъпите му са се разредили.</span></span></p>
<p><span style="font-size: 14pt;">17. Момиче с проблеми със ставите, с употребата на тази храна, започнала да се занимава със скално катерене.</span></span></p>
<p><span style="font-size: 14pt;">18. Мъж с <span style="color: #ff0000;">диабет</span> намалил кръвната си захар.</span></span></p>
<p><span style="font-size: 14pt;">19. Възрастна жена с <span style="color: #ff0000;">паркинсон</span> казва, че има подобрение в движението.</span></span></p>
<p><span style="font-size: 14pt;">20. Жена със слаба болка в тазобедрената става казва, че болката и изчезнала.</span></span></p>
<p><span style="font-size: 14pt;">21. Наша много близка на 80 год. приема "Сириус-Д" 3 месеца профилактично. Като повечето близки и неблагодарни хора казваше, че и помага само за по-висок <span style="color: #ff0000;">тонус</span> и <span style="color: #ff0000;">понижаване на кръвното налягане</span>. Първоначално <span style="color: #ff0000;">отслабна</span>, през лятото <span style="color: #ff0000;">напълня</span>, и обвини за това "Сириус-Д". След спирането на приема на "Сириус-Д" усети разликата и се оказа, че напълняването й се дължи на съчетание на обилно хранене с намалено движение. Сега отново пие "Сириус-Д" и твърди, че се чувства добре. Да видим докога!:)) </span></span></p>
<p><span style="font-size: 14pt;">22. Възрастен мъж с <span style="color: #ff0000;">астма</span> изпи 5 опаковки, чувства, че диша по-леко, поръча си пак.</span></span></p>
<p><span style="font-size: 14pt;">23. Възрастна жена с <span style="color: #ff0000;">подагра, високо кръвно, отекли глезени</span>, и други хронични болести, не можела да излиза от къщи. След 5 опаковки глезените са спаднали почти до нормални, излиза по 1 час от къщи.</span></span></p>
<p><span style="font-size: 14pt;">24. Жена със смущения в <span style="color: #ff0000;">зрението</span> се хвали със значително увеличена острота, контрастност на образа, след изпиване на 5 опаковки. </span></span></p>
<p><span style="font-size: 14pt;">25. Мъж с неинфекциозен <span style="color: #ff0000;">простатит</span> - значително подобрение след 9 опаковки, продължава.</span></span></p>
<p><span style="font-size: 14pt;">26. Възрастна скептичка с <span style="color: #ff0000;">Паркинсон</span> след 9 опаковки - чувства, че ходи по уверено и продължава.</span></span></p>
<p><span style="font-size: 14pt;">27. Мъж, който бяга полумаратон, е доволен от значително подобрение на скъсан <span style="color: #ff0000;">менискус</span> и <span style="color: #ff0000;">ишиас</span>. Продължава да бяга и да пие Сириус-Д.</span></span></p>
<p><span style="font-size: 14pt;">28. Мъж със сутрешна скованост, казва , че е изчезнала сковаността и че има
              <ul>
                  <li class="alert-danger">ЕДИНСТВЕН НЕГАТИВЕН ОТЗИВ! Вие преценете дали е провокация или истина? (от 5 октомври 2015г.)</li>
                  <br>
                  <p style="text-indent: 24px;">Обади ни се госпожа, за да иска компенсация - това беше най-често повтаряната дума.
                      Тя не искаше да ни върне продукта, тя искаше да й заплатим нещо за това, че не се е излекувала от.... не уточни от какво.
                      Нямала абсолютно никакъв резултат. Поръчала си е 10 опаковки от продукта през месец май 2015г. (по нейни думи.
                      Госпожата не се представи и не знаем кога е поръчала, дали изобщо от нас?) Доставили сме й ги твърде бързо, след няколко часа (става въпрос за София).
                      Това е едно от съмнителните неща, според нея. (Ние имаме склад в София и поддържаме винаги наличности, разполагаме с вътрешни куриери, които доставят същия или на следващия ден.)
                      До обаждането й - месец октомври, тя е изпила най-много 5 опаковки, другите ги е запазила за веществено доказателство, че продуктът не работи!
                      По нейни думи е изпила няколко опаковки в началото и изчакала 5 месеца за резултат. Твърдеше, че е изчела всичко от сайта ни и се захвана с това от "Отзиви на клиенти",
                      че има случаи на изпили 5 опаковки и "хвърлили патериците". Госпожата нямала никакъв ефект от храната "Сириус-Д" и искаше компенсация.
                      Тя не искаше да върне останалите неотворени опаковки и да й върнем парите, тя искаше компенсация!!!
                      Заплаши, че ще ни напише из интернет-пространството, че продаваме менте. Изобщо не искаше да чуе обясненията, фактите, а те са следните:
                  </p>
                  <br>

                      <p style="text-indent: 15px;  color: #0a6d9b">Писано е не само в нашия сайт, че резултатите трябва да се очакват след минимум 3 месеца редовен прием. Добавяме: по правилната дозировка, ежедневно, а не по детска дозировка или приемано понякога. За 5 месеца изпити максимум 5 опаковки е ясно,
                          че не е приемано както е препоръчано. В случая: госпожата е изпила 5 опаковки и изчакала 5 месеца за резултат!
                          Очевидно не е прочела така задълбочено информацията, както твърдеше.
                      </p>
                      <p style="text-indent: 15px; color: #0a6d9b"> В нашият сайт изрично е описано, че има случаи, които се повлияват по-бързо и това зависи индивидуално от организма на всеки.
                          А индивидуалната реакция е валидна за всякакви добавки, храни, дори и за стандартизираните лекарства!
                      </p>
                      <p style="text-indent: 15px; color: #0a6d9b">
                          Жената очаква с 5 опаковки излекуване на остеопороза, което никоя стандартна или алтернативна терапия не обещава!
                          Дори и за 5 месеца активно лечение конвенционалната медицина не обещава това, да не говорим за 5 опаковки от който и да е продукт!
                          Остеопорозата е едно от заболяванията, които изискват дългосрочно лечение и профилактика. В случая това не е направено.
                      </p>
                      <p style="text-indent: 15px; color: #0a6d9b">
                          Подобрение се постига винаги, макар и понякога незабележимо заради ограничен прием: Най-малкото общи прилив на сили и лекота при движение.
                          Повишена съпроятивляемост и устойчивост срещу инфекции, забавяне развитието на заболяване, подобрена перисталтика, нормализиране на кръвното,
                          успкояване на стомашно-чревни смущения, подобряване на тонус, самочувствие, сън.
                          Това може да е незабелязано при малък прием, но с натрупване на приема или увеличаване
                          на дозировката настава добре усещано дори и преди гарантирания срок от 3 месеца.
                      </p>
                      <p style="text-indent: 15px; color: #0a6d9b">
                          Наистина имаме редица случаи, които вече са без патерици, бастуни, вървят по-леко.
                          Имаме случаи с тежко болни, които помагат на близките си да ги обслужват по-лесно - стават "по-леки", "по-подвижни" - както твърдят близките им.
                          Това са РЕАЛНИ случаи, някои от които вече сме записали.
                      </p>
                      <p style="text-indent: 15px; color: #0a6d9b">
                          Никой на никого не може да обещае, че неговият случай ще протече по даден начин.
                          Консултантите ни казват винаги, че единствено собствения "лечебен разум", "мъдрата природа" или по-народному
                          "Бог си знае" определят какъв ще е развоят при всеки индивидуално.
                      </p>
                      <p style="text-indent: 15px; color: #0a6d9b">
                          Това, че даден човек не се е повлиял от малко опаковки и то както той/тя си иска, не означава, че е приемал менте.
                          И накрая, госпожата беше насочена към производителя - проф. Димитров, беше й даден неговия телефон, на който тя не се е обадила.
                          А той лично сподели, че може да съди само него, ако има някакви претенции и,
                          че винаги се получава резултат при прием на 4, 5 суп.л. 2 пъти дневно 3 месеца. В случая госпожата не спазила предписанията.
                      </p>
                      <p style="text-indent: 15px; color: #0a6d9b">

                      </p>

                  <br>
                  <li style="text-indent: 15px; font-size: larger;">

                  </p>
                  <li style="text-indent: 15px; font-size: larger;">

                  </li>
                  <li style="text-indent: 15px; font-size: larger; ">

                  </li>
                  <li></li>
                  <li></li>
                  <li></li>

              </ul>

          </div>
        </article>
      </div>
      <div class="col-md-4">
          <div class="sidebar">

              <div class="author widget">
                  <img class="img-responsive" src="images/author/minkovska.jpg">
                  <div class="author-body text-center">
                      <!-- <div class="author-img">
                           <img src="images/author/creator.jpg">
                       </div>-->
                      <div class="recent-post widget">
                          <h3> Нашите  случаи</h3>
                          <ul class="list-group">

                              <li class="list-group-item"> <h4 style="color: #d85046;"> <small  style="font-size: 10px; color: #d85046">инж</small> .Светлана Енчева -холистичен практиционер, Мениджър Клуб - „Сириус-Д“, Клуб „Здрави заедно“, Клуб „Споделен опит и сътрудничество“ споделя:</h4></li>



                              <li class="list-group-item">
                                  Жена р рак след прекаран курс химиотерапия споделя, че болките и неразположението отшумяват много бързо до седмица след приема на добавката.
                                  Казва, че отново има енергия и тонус за работа и живот.

                              </li>
                              <li class="list-group-item">
                                  Дете с лошо функциониране на белия дроб – трудно се придвижва, задъхва се, лесна уморяемост.
                                  След прием на храната „Сириус-Д“ спокойно изкачва 5-тия етаж по стълбите
                              </li>
                              <li class="list-group-item">
                                  Интересен случай на пациент със загнила горна челюст – определен за кюретаж след 6 месеца.
                                  През този период той приемаше храната „Сириус-Д“ за премахване на хронична пневмония.
                                  Преди кюретажа снимката показа пълно възстановяване на челюстта.
                              </li>
                              <li class="list-group-item">
                                  Пациент с глаукома, с очно налягане 32 мм. Благодарение на „Сириус-Д“ се нормализира на 6 мм.

                              </li>
                              <li class="list-group-item">
                                  Младо момче, парализиран след прекаран менингит, бързо се възстановява след приема на Сириус-Д.
                                  Първо се възстанови движението от кръста нагоре и горните крайници. Следва постепенно подобрение и на други функции.

                              </li>
                              <li class="list-group-item">
                                  Интересен случай на пациент със загнила горна челюст – определен за кюретаж след 6 месеца.
                                  През този период той приемаше храната „Сириус-Д“ за премахване на хронична пневмония.
                                  Преди кюретажа снимката показа пълно възстановяване на челюстта.

                              </li>
                              <li class="list-group-item">
                                  Жена на пенсионна възраст взимаше храната за лечение на гонартроза – „Сириус-Д“ възстановява хрущялната тъкан на всички стави – колене, таз, гръбначен стълб.
                                  Преди приема на храната, кардиолозите констатират 80% запушване на кръвоносните съдове и дават предписание за поставяне на стенд.
                                  След няколко месеца прием на храната коленете се възстановяват, но се оказва излишно поставянето на стенд – кардиолозите констатират само 3% запушване на кръвоносните съдове.
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>


          </div>
      </div>

    </div>
  </div>
</section>

<!--====  End of Blog Left sidebar  ====-->

<section id="feature">
    <div class="container-fluid">
        <div class="section-heading">
            <h1 class="title wow fadeInDown" data-wow-delay=".3s">Информация </h1>
            <p class="wow fadeInDown" data-wow-delay=".5s">
                Полезна информация за Сириус-Д и контакти с дистрибуторa
            </p>
        </div>
        <div class="row">
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="900ms">
                    <div class="media-left">
                        <div class="icon">
                            <i class="ion-ios-barcode-outline"></i>
                        </div>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Линии за връзка</h4>
                        <p> <span style="color: #ee793c">Vivacom: &nbsp;</span>  <span>0877-55-53-19</span></p>
                        <p> <span style="color: #ee793c">Vivacom: &nbsp;</span>  <span>0876-21-21-10</span></p>
                        <p> <span style="color: #644aee">Globul: &nbsp&nbsp&nbsp&nbsp;</span>  <span>0896-097-428</span></p>
                        <p> <span style="color: #2ae110">Mtel: &nbsp &nbsp &nbsp &nbsp&nbsp;</span>  <span>0889-190-839</span> </p>
                        <p>   ДОСТАВКА БЕЗ ПОЧИВЕН ДЕН!   </p>
                        <p><span  style="color: #ee793c"> SKYPE: </span> <span >  sirius-d  </span>   </p>
                        <p><span  style="color: #ee793c"> EMAIL: </span> <span >   sirius7@abv.bg   </span>   </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="media wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="300ms">
                    <div class="media-left">
                        <div class="icon">
                            <a href="https://www.facebook.com/SiriusdHolistic/" class="Facebook">
                                <i class="ion-social-facebook"></i>
                            </a>
                        </div>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading"><a href="https://www.facebook.com/SiriusdHolistic/">СИРИУС-Д Фейсбук </h4>
                        <p>Здравно консултативен екип с участието на създателя на храната - проф. Димитров</p>

                </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="600ms">
                    <div class="media-left">
                        <div class="icon">
                            <i class="ion-ios-lightbulb-outline"></i>
                        </div>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Консултации и поръчки: 0876-21-21-10 - Здравен консултант</h4>
                        <p>Цените са в зависимост от количеството. ОТСТЪПКИ ПОЛУЧАВАТ ВСИЧКИ!</p>
                        <h5>Работно време: от 8.30 до 20 часа без почивен ден </h5>
                        <h5>Доставка до Ваш адрес в цялата страна</h5>
                        <p>Цените са в зависимост от количеството. ОТСТЪПКИ ПОЛУЧАВАТ ВСИЧКИ!</p>

                    </div>
                </div>
            </div>


        </div>
    </div>
</section> <!-- /#feature -->
{% endblock %}
