{% extends "layout.html.twig" %}

{% block section_content %}
<section class="single-post">
    <div class="container">
        <div class="row">
            <div class="post-img">
                <img class="img-responsive" alt="" src="images/blog/radiestesia.jpg" height="20px" width="1150px">
            </div>
            <article class="wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms" style="">
              <div class="blog-content">
                <h2 class="blogpost-title">
                  <h3  class="text-center" style="color:#6600cc">„Космосът е безкраен спектър от енергии, от които ние долавяме съвсем малко.“</h3>
                </h2>

                <h3 class="text-center" style=" color: #4c0080">
                    <span style="color:red">РАДИЕСТЕЗИЯТА</span> е надежден метод за ДИАГНОСТИКА, ПОДБОР, КОРЕКЦИЯ и балансиране на </h3>
                 <h3 class="text-center" style=" color: #4c0080">
                        енергийната система на хора, животни и окръжаващата среда.
                  </h3>
                  <h3 class="text-center" style=" color: #4c0080">
                        Радиестезията е неинвазивен метод за диагностика и лечение. Напълно покрива основния
                   </h3>
                   <h3 class="text-center" style=" color: #4c0080">
                         медицински постулат: <span style="font-style: italic">„Primum non nocere“ </span> – „Първо да не вредим!“
                    </h3>
                     <hr>


                    <h2 class="text-center" style=" color: #4c0080">
                          С помощта на Радиестезията могат:
                    </h2>
                    <br>
                     <span style="color: #4c0080"></span>
                      <span style="color: red"></span>

                    <ol >
                        <li style="font-size:15px; margin:3px">	Да се <span style="color: #4c0080">диагностицират</span> почти всички  <span style="color: red">заболявания</span> в организма на човека и животните.
                        </li>
                        <li style="font-size:15px; margin:3px">
                            Да се  <span style="color: #4c0080">определят</span> дълбоките и скрити  <span style="color: red">причини</span> на заболяванията и неразположенията.
                        </li>
                        <li style="font-size:15px; margin:3px">
                            	Да се  <span style="color: #4c0080">измерят</span> разнообразните  <span style="color: red">вредни излъчвания:</span> геопатогенни зони,<br> електромагнитни вълни от различни източници, инфразвукови и ултразвукови вибрации,<br> радиоактивни излъчвания, вреден шум и всичко, което влияе върху състоянието на човека.
                        </li>
                        <li style="font-size:15px; margin:3px">
                             Да се  <span style="color: #4c0080">открият</span>  източници на  <span style="color: red">вода</span>, както и да се  <span style="color: #4c0080">установи</span> качеството й.
                        </li>
                        <li style="font-size:15px; margin:3px">
                             	Да се  <span style="color: #4c0080">подберат</span> подходящите  <span style="color: red">методи</span> за възстановяване и поддържане на здравето. Да се  <span style="color: #4c0080">провери</span> <span style="color: red">качеството и целесъобразността</span>  на <b>лекарства, билки, хомеопатия </b>, начин на хранене, лечебни <b> храни, води, минерали </b>, твърди и етерични масла, камъни, кристали, козметика, облекло и други средства.
                        </li>
                        <li style="font-size:15px; margin:3px">
                             Да се  <span style="color: #4c0080">проверяват</span> хора, животни, предмети и жилища за енергийно <span style="color: red"> негативно влияние</span> (енергийни прилепвания, уроки, магия, родови проклятия).
                        </li>
                        <li style="font-size:15px; margin:3px">
                            Да се  <span style="color: #4c0080">премахнат или неутрализират</span> голяма част от гореизброените  <span style="color: red">негативни влияния</span> .
                        </li>
                        <li style="font-size:15px; margin:3px">
                            	Да се <span style="color: #4c0080">подберат и реализират</span>подберат и реализират необходимите  <span style="color: red">защити</span> от негативни влияния .
                        </li>
                        <li style="font-size:15px; margin:3px">
                             Да се  <span style="color: #4c0080">определи</span> <span style="color: red">съвместимостта</span>  между хората: биологична, енергийна, сексуална, духовна, ценностна.
                        </li>
                        <li style="font-size:15px; margin:3px">
                             Да се определи   <span style="color: red">съвместимостта</span> между хора и животни.
                        </li>

                    </ol>
                    <br>
                    <div class="post-img">
                        <img class="img-responsive" alt="" src="images/blog/radi3.jpg" height="20px" width="1150px">
                    </div>
                    <h3 class="text-center" style=" color: #4c0080">
                         <b> Нашият екип прилага успешно  от години</b> <span style="color: blue">собствена методика </span>за изчистване и
                     </h3>
                     <h3 class="text-center" style=" color: #4c0080">
                            <b>балансиране на енергийните</b>  <span style="color: red"> системи</span> на хората, разработена от
                      </h3>
                      <h3 class="text-center" style=" color: #4c0080">
                             инж. Димо Георгиев.
                       </h3>
                       <p style="font-size:15px; margin:3px; text-align:center">
                            Имаме и други  <span style="color: blue">доказани доразработки</span> на методите за диагностика, чистене и защити, описани от световно известният радистезист <span style="color: red">Людмила Пучко </span> – академик на Руската и Международната инженерна Академия, кандидат на техническите науки, радиофизик, специалист по системата за космически връзки. Тя е посветила около 40 години за изучаване организма на човека, методи за самопознание, самодиагностика и самолечение.

                       </p>
                       <hr>
                       <h3 class="text-center" style=" color: #b30000">
                            Терминът РАДИЕСТЕЗИЯ е съставен от „Излъчване“ и „Усещане“
                        </h3>
                        <p class="text-center" style=" color:#b30000; font-size:21px">
                             и означава възприемане на разнообразните излъчвания.
                         </p>
                         <br>
                         <h4 class="text-center" style="text-decoration:underline">
                              Накратко, каква е същността на този метод:
                          </h4>
                          <p style="font-size: 15px; text-indent:30px; padding-left:7px; pading-right:7px">
                              Известно е, че всички обекти от живата и неживата природа излъчват вълни с различна честота, спектър, форма. Ние, хората, усещаме, виждаме, чуваме, долавяме много ограничен спектър от всичките видими и невидими излъчвания. Някои надарени, чувствителни хора, наричани екстрасенси, усещат невидимите лъчения като потръпвания, топлина, хлад, светлинни проблясъци и т.н. Но такива хора не са много. Ето защо, обикновените хора вярват само на това, което виждат, чуват, долавят. А научно и технически лесно се доказва, че нашите сетива не могат да обхванат цялото разнообразие от излъчвания.
                          </p>
                          <p style="font-size: 15px; text-indent:30px;  padding-left:7px; pading-right:7px">
                               Обикновения човек не усеща излъчванията от окръжаващите обекти. Възприемащата система на човека, заложена от природата, има ограничено, прагово, гранично ниво. Някои животни възприемат много повече.
                          </p>
                          <p style="font-size: 15px; text-indent:30px;  padding-left:7px; pading-right:7px">
                              При около 20 % от средностатистическите хора - при съсредоточаване на вниманието на определен обект, в опит за възприемане непосредствено на излъчването, се формира идеомоторен акт (самопроизволно движение, спонтанно, без участие на мисълта и волята) и, ако в ръката си човек държи махало, багета, пръчка, чатал, то този „инструмент“ започва да се върти, поклаща, отклонява някаква посока. Това е така наречения „радиестезичен ефект“, известен на човечеството от древността.
                          </p>
                          <p style="font-size: 15px; text-indent:30px;  padding-left:7px; pading-right:7px">
                              Най-близката родственица на радиестезичното махало е лозовата пръчка. За лозоходството и биолокацията са чували почти всички, но едва ли всички знаят, че разцвета на Западна Европа е благоприятстван от разработките на природните богатства, които са намирани именно с помощта на лозова багета и махало през XV-XVII века. Е, за благодарност, работещите с махало са били обявявани за магьосници и нерядко изгаряни на клада.
                          </p>
                          <p style="font-size: 15px; text-indent:30px;  padding-left:7px; pading-right:7px">
                              С изучаването на радиестезичния метод и използването му за получаване на информация, за наличието на подземни води, изкопаеми, намиране на загубени вещи, хора; определяне на местата на силата и още научни и практически ползи, са се занимавали много известни велики учени и филосови: Архимед, Аристотел, Плутарх, Авицена, Платон, Соломон, Сократ, Парацельс, Цицерон, Вергилий, Агрикола, Нострадамус, Месмер, Фурие, Нютон, Гьоте, Циолковски, Вернадски, Ломоносов, Рудолф Глаубер, Екатерина II и други.
                          </p>
                          <p style="font-size: 15px; text-indent:30px;  padding-left:7px; pading-right:7px">
                               Историята на Радиестезията е велика и занимателна. Още от скалните рисунки, до ден днешен има изобилни доказателства за използването на Радиестезията в ежедневния живот. Днес Радиестезията е развита много по-научно и е навлязла в живота на съвременния човек чрез анализи на факти, изследвания, научно-технически доразработки на метода. Редица съвременни учени използват този метод. Например: доктор на геолого-минералогическите науки Сочеванов. Трудовете на известните професор Луи Тюрен, Академик Людмила Пучко, инж. Стоян Бъчваров са достъпни като доказателство за невярващи и за обучение на желаещи.
                          </p>
                          <p style="font-size: 15px; text-indent:30px;  padding-left:7px; pading-right:7px">
                                Има ДВА ОСНОВНИ начина за получаване на информация чрез радиестезичния метод: Ментален и Физикален.
                          </p>
                          <p style="font-size: 15px; text-indent:30px;  padding-left:7px; pading-right:7px">
                                 Представителите на МЕНТАЛНАТА РАДИЕСТЕЗИЯ работят само мисловно-интуитивно. Задават въпроси и получават отговори ДА или НЕ, които се регистрират по движението на махалото. Недостатък на метода е ненадеждна точност поради наличието на мисловен образ и понякога несъзнателни очаквания за отговор.
                          </p>
                          <p style="font-size: 15px; text-indent:30px;  padding-left:7px; pading-right:7px">
                                 ФИЗИКАЛНАТА РАДИЕСТЕЗИЯ борави с измервателни УРЕДИ (линеали, вълномери, таблици, схеми) и Свидетели – енергийни образци-мостри на изследваното качество, същност, съдържание. Точността тук е значително по-висока, тъй като няма концентрация в ума за получаване на отговора.
                          </p>
                          <p style="font-size: 15px; text-indent:30px;  padding-left:7px; pading-right:7px">
                                 Нашият екип предпочита ФИЗИКАЛНИЯ радиестезичен метод като по-надежден. Но, според случая, условията, терена, се налага понякога използването и на МЕНТАЛНИЯ радиестезичен метод. Всичко проверяваме по няколко пъти за максимална прецизност на получената информация.
                          </p>

                   </div>
                </article>
        </div>

    </div>
</section>
<!--====  End of Blog Left sidebar  ====-->
<section id="feature">
    <div class="container">
        <div class="section-heading">
            <h1 class="title wow fadeInDown" data-wow-delay=".3s">Информация </h1>
            <p class="wow fadeInDown" data-wow-delay=".5s">
                Полезна информация за Сириус-Д и контакти с дистрибуторa
            </p>
        </div>
        <div class="row">
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="media wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="300ms">
                    <div class="media-left">
                        <div class="icon">
                            <i class="ion-ios-flask-outline"></i>
                        </div>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Производител </h4>
                        <p>Сириус 2Д ЕООД, Севлиево, България, ул. Стара планина 143</p>
                        <h4>Представителство</h4>
                        <p>гр. София: ул. Кожух планина 10, офис 2</p>
                        <h5>Телефони за контакт</h5>
                        <ul>
                            <li>+359 2 447 2386</li>
                            <li>+359 2 447 2387</li>
                            <li>+359 8844 00001</li>
                            <li>+359 8844 00002</li>
                            <li>Website <span style="color: #e19032">www.siriusd.biz</span></li>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="media wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="300ms">
                    <div class="media-left">
                        <div class="icon">
                            <a href="https://www.facebook.com/SiriusdHolistic/" class="Facebook">
                                <i class="ion-social-facebook"></i>
                            </a>
                        </div>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading"><a href="https://www.facebook.com/SiriusdHolistic/">СИРИУС-Д Фейсбук </h4>
                        <p>Здравно консултативен екип с участието на създателя на храната - проф. Димитров</p>

                </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="900ms">
                    <div class="media-left">
                        <div class="icon">
                            <i class="ion-ios-barcode-outline"></i>
                        </div>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Линии за връзка</h4>
                        <p> <span style="color: #ee793c">Vivacom: &nbsp;</span>  <span>0876-21-21-10</span></p>
                        <p> <span style="color: #644aee">Globul: &nbsp&nbsp&nbsp&nbsp;</span>  <span>0896-097-428</span></p>
                        <p> <span style="color: #2ae110">Mtel: &nbsp &nbsp &nbsp &nbsp&nbsp;</span>  <span>0889-190-839</span> </p>
                        <p>   ДОСТАВКА БЕЗ ПОЧИВЕН ДЕН!   </p>
                        <p><span  style="color: #ee793c"> SKYPE: </span> <span >  sirius-d  </span>   </p>
                        <p><span  style="color: #ee793c"> EMAIL: </span> <span >   sirius7@abv.bg   </span>   </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section> <!-- /#feature -->
{% endblock %}
